# Executables:
gozilla
*.exe
*.exe~
*.tws
*.swp
*.swo
demos/*
static/downloads/*
static/thumbnails/*
.vscode/
customTests.go
certs/*
.gozilla.go.swp
acme_account+key
votezilla.io+token
queries.txt
