
/*
.vz-bar .vz-bar-item			{padding:2px 2px;float:left;width:auto;border:none;outline:none;display:block}
.vz-bar .vz-button				{white-space:normal}

.vz-bar .vz-button:hover		{color:#fff; background-color:#e87f19}

.vz-bar .vz-dropdown-hover		{position:static;float:left}
.vz-bar-block .vz-bar-item		{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}

.vz-bar-block .vz-dropdown-hover .vz-button		{width:100%;text-align:left;padding:2px 2px}

.vz-bar-block .vz-dropdown-hover .vz-dropdown-content		{min-width:100%}
.vz-bar-block .vz-dropdown-hover		{width:100%}
.vz-bar-block.vz-center .vz-bar-item		{text-align:center}.vz-block		{display:block;width:100%}
.vz-bar					{width:100%;overflow:hidden}.vz-center .vz-bar		{display:inline-block;width:auto}

.vz-btn,.vz-button		{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.vz-btn,.vz-button		{border:none;display:inline-block;outline:0;padding:2px 2px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
// still a button / sub-items are okay - not consistent... WTF?

.vz-card-4				{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
// sub-items are okay, main item is not
.vz-cell-row:before,.vz-cell-row:after,.vz-clear:after,.vz-clear:before,.vz-bar:before,.vz-bar:after		{content:"";display:table;clear:both}
.vz-disabled,.vz-btn:disabled,.vz-button:disabled		{cursor:not-allowed;opacity:0.3}.vz-disabled *,:disabled *		{pointer-events:none}
// sub-items are okay, main item is not

.vz-dropdown-hover		{position:relative;display:inline-block;cursor:pointer}
// sub-items are okay, main item is not
.vz-dropdown-content		{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:110px;margin:0;padding:0}
// not ok
.vz-dropdown-hover.vz-mobile .vz-dropdown-content		{position:relative}
.vz-dropdown-hover.vz-mobile,.vz-dropdown-hover.vz-mobile .vz-btn,.vz-dropdown-hover.vz-mobile .vz-button		{width:100%}}
.vz-dropdown-hover:first-child		{background-color:#ccc;color:#000}
.vz-dropdown-hover:hover .vz-dropdown-content		{display:block;z-index:1}
*/

body    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; }
td      { font-family:Verdana, Geneva, sans-serif; font-size:10pt; }

.admin td   { font-family:Verdana, Geneva, sans-serif; font-size:8.5pt; color:#000000; }
.subtext td { font-family:Verdana, Geneva, sans-serif; font-size:   7pt; color:#828282; }

input,select      { font-family:monospace; font-size:10pt; color:#000000; max-width: 200px; }
input[type=\"submit\"] { font-family:Verdana, Geneva, sans-serif; }

textarea { font-family:monospace; font-size:10pt; color:#000000; }

label.error { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#ee0000; }

a:link      { color:#000000; text-decoration:none; }
a:visited   { color:#000000; text-decoration:none; }

.default { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.admin   { font-family:Verdana, Geneva, sans-serif; font-size:8.5pt; color:#000000; }
.title   { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.subtext { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }
.yclinks { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.pagetop { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#222222; }
.comhead { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; }
.hnname { margin-right: 5px; }

.comment a:link, .comment a:visited { text-decoration: underline; }
.noshow { display: none; }
.nosee { visibility: hidden; pointer-events: none; cursor: default }

.c00, .c00 a:link { color:#000000; }
.c5a, .c5a a:link, .c5a a:visited { color:#5a5a5a; }
.c73, .c73 a:link, .c73 a:visited { color:#737373; }
.c82, .c82 a:link, .c82 a:visited { color:#828282; }
.c88, .c88 a:link, .c88 a:visited { color:#888888; }
.c9c, .c9c a:link, .c9c a:visited { color:#9c9c9c; }
.cae, .cae a:link, .cae a:visited { color:#aeaeae; }
.cbe, .cbe a:link, .cbe a:visited { color:#bebebe; }
.cce, .cce a:link, .cce a:visited { color:#cecece; }
.cdd, .cdd a:link, .cdd a:visited { color:#dddddd; }

.pagetop a:visited { color:#000000;}
.topsel a:link, .topsel a:visited { color:#ffffff; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.comhead a:link, .subtext a:visited { color:#828282; }
.comhead a:hover { text-decoration:underline; }

.default p { margin-top: 8px; margin-bottom: 0px; }

p.checkbox { 
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.pagebreak {page-break-before:always}

pre { overflow: auto; padding: 2px; }
pre:hover { overflow:auto }

.votearrow {
    width:          10px;
    height:      10px;
    border:      0px;
    margin:      3px 2px 6px;
    background: url("/static/grayarrow.gif")
    no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .votearrow { background-size: 10px; background-image: url("/static/grayarrow2x.gif"); }
}

.rotate180 {
    -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
    -moz-transform:     rotate(180deg); /* FF */
    -o-transform:           rotate(180deg); /* Opera */
    -ms-transform:       rotate(180deg);    /* IE9 */
    transform:               rotate(180deg);    /* W3C complaint browsers */

    /* IE8 and below */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

/* mobile device */
@media only screen
and (min-width : 300px)
and (max-width : 750px) {
    #hnmain { width: 100%; }
    body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
    td { height: inherit !important; }
    .title, .comment { font-size: inherit;  }
    span.pagetop { display: block; margin: 3px 5px; font-size: 12px; }
    span.pagetop b { display: block; font-size: 15px; }
    table.comment-tree .comment a { display: inline-block; max-width: 200px; overflow: hidden; white-space: nowrap;
        text-overflow: ellipsis; vertical-align:top; }
    img[src='/static/s.gif'][width='40'] { width: 12px; }
    img[src='/static/s.gif'][width='80'] { width: 24px; }
    img[src='/static/s.gif'][width='120'] { width: 36px; }
    img[src='/static/s.gif'][width='160'] { width: 48px; }
    img[src='/static/s.gif'][width='200'] { width: 60px; }
    img[src='/static/s.gif'][width='240'] { width: 72px; }
    img[src='/static/s.gif'][width='280'] { width: 84px; }
    img[src='/static/s.gif'][width='320'] { width: 96px; }
    img[src='/static/s.gif'][width='360'] { width: 108px; }
    img[src='/static/s.gif'][width='400'] { width: 120px; }
    img[src='/static/s.gif'][width='440'] { width: 132px; }
    img[src='/static/s.gif'][width='480'] { width: 144px; }
    img[src='/static/s.gif'][width='520'] { width: 156px; }
    img[src='/static/s.gif'][width='560'] { width: 168px; }
    img[src='/static/s.gif'][width='600'] { width: 180px; }
    img[src='/static/s.gif'][width='640'] { width: 192px; }
    img[src='/static/s.gif'][width='680'] { width: 204px; }
    img[src='/static/s.gif'][width='720'] { width: 216px; }
    img[src='/static/s.gif'][width='760'] { width: 228px; }
    img[src='/static/s.gif'][width='800'] { width: 240px; }
    img[src='/static/s.gif'][width='840'] { width: 252px; }
    .title { font-size: 11pt; line-height: 14pt;    }
    .subtext { font-size: 9pt; }
    .itemlist { padding-right: 5px;}
    .votearrow { transform: scale(1.3,1.3); margin-right: 6px; }
    .votearrow.rotate180 {
        -webkit-transform: rotate(180deg) scale(1.3,1.3);   /* Chrome and other webkit browsers */
        -moz-transform:     rotate(180deg) scale(1.3,1.3);  /* FF */
        -o-transform:           rotate(180deg) scale(1.3,1.3);  /* Opera */
        -ms-transform:       rotate(180deg) scale(1.3,1.3); /* IE9 */
        transform:               rotate(180deg) scale(1.3,1.3); /* W3C complaint browsers */
    }
    .votelinks { min-width: 18px; }
    .votelinks a { display: block; margin-bottom: 9px; }
    input[type='text'], input[type='number'], textarea { font-size: 16px; width: 90%; }
}

.comment { max-width: 1215px; overflow: auto }
pre { max-width: 900px; }

@media only screen and (min-width : 300px) and (max-width : 389px) {
    .comment { max-width: 270px; overflow: auto }
    pre { max-width: 200px; }
}
@media only screen and (min-width : 390px) and (max-width : 509px) {
    .comment { max-width: 350px; overflow: auto }
    pre { max-width: 260px; }
}
@media only screen and (min-width : 510px) and (max-width : 599px) {
    .comment { max-width: 460px; overflow: auto }
    pre { max-width: 340px; }
}
@media only screen and (min-width : 600px) and (max-width : 689px) {
    .comment { max-width: 540px; overflow: auto }
    pre { max-width: 400px; }
}
@media only screen and (min-width : 690px) and (max-width : 809px) {
    .comment { max-width: 620px; overflow: auto }
    pre { max-width: 460px; }
}
@media only screen and (min-width : 810px) and (max-width : 899px) {
    .comment { max-width: 730px; overflow: auto }
    pre { max-width: 540px; }
}
@media only screen and (min-width : 900px) and (max-width : 1079px) {
    .comment { max-width: 810px; overflow: auto }
    pre { max-width: 600px; }
}
@media only screen and (min-width : 1080px) and (max-width : 1169px) {
    .comment { max-width: 970px; overflow: auto }
    pre { max-width: 720px; }
}
@media only screen and (min-width : 1170px) and (max-width : 1259px) {
    .comment { max-width: 1050px; overflow: auto }
    pre { max-width: 780px; }
}
@media only screen and (min-width : 1260px) and (max-width : 1349px) {
    .comment { max-width: 1130px; overflow: auto }
    pre { max-width: 840px; }
}
