body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 18px;
}

.marginRow{
	 margin-top:		0px 		!important;
	 margin-bottom:		0px 		!important;
}


#override .vz-container {
	padding-left:		0px			!important;
	padding-right:		0px			!important;
}

#override .vz-col-md-12 {
	padding-left: 		0px			!important;
	padding-right: 		0px			!important;
}

#override .vz-row {
	margin-left:	0px			!important;
	margin-right:	0px			!important;
}
#override .vz-col-md-6-left {
	padding-left:	0px			!important;
	padding-right:	0px			!important;
	margin-left:	0px			!important;
	margin-right:	0px			!important;
}

#override .vz-col-md9-left {
	margin-left:	0px			!important;
	padding-left:	0px			!important;
}
#override .vz-col-md-3-right {
	margin-right:	0px			!important;
	padding-right:	0px			!important;
}

@media screen and (max-width:750px) { /* narrow screens - mobile */
	#override .vz-col-md-6-right {
		padding-left:	0px			!important;
		padding-right:	0px			!important;
		margin-left:	0px			!important;
		margin-right:	0px			!important;
	}
	.desktop_only {
		display:none;
	}
	#override .vz-col-md-12b {
		padding-left: 		0px			!important;
		padding-right: 		0px			!important;
	}
}
@media screen and (min-width:750px) { /* wide screens - desktop */
	#override .vz-col-md-6-right {
		padding-left:	15px		!important;
		padding-right:	0px			!important;
		margin-left:	0px			!important;
		margin-right:	0px			!important;
	}
	#override .vz-col-md-12b {
		padding-left: 		0px			!important;
		padding-right: 		15px		!important;
	}
}

input[type=\"submit\"] { font-family:Verdana, Geneva, sans-serif; }

/* TODO: Move these to the CSS file, they're only here for quick iteration.  Maybe the line above it too. Maybe(???) the device size stuff too?? */
.X {
	width: 400px;
	height: 400px;
	position: absolute;
	right:0;
	top:0;
}

.w3-border {
	border: 1px solid #ccc !important;
}

.w3-grey {
	color: #000 !important;
	background-color: #9e9eff !important;
}

#override .btn-vote {
	color: #fff;
	background-color: #0030ff; /* #0495c9; */
	background: linear-gradient(0deg, rgb(0 48 255) 0%, rgb(110 157 253) 100%) !important;
	border-color: #2092ff;
	cursor: pointer;
	font-size: 20px;
}
#override .btn-vote:hover,
#override .btn-primary:focus,
#override .btn-primary:active,
.open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #0072ff;
	background: linear-gradient(0deg, rgb(0 96 255) 0%, rgb(110 225 253), 100%) !important;
	box-shadow: 0 3px 8px rgba(0, 96, 255, .4);
	border-color: #62b7ff;
	cursor: pointer;
	font-size: 20px;
}

/* Same as .btn-vote but removes background linear-gradient, since it breaks on dropdown "Split By Demographic" on Chrome desktop. */
#override .btn-vote-dropdown {
	color: #fff;
	background-color: #0030ff; /* #0495c9; */
	border-color: #2092ff;
	cursor: pointer;
	font-size: 20px;
}
#override .btn-vote-dropdown:active {
	color: #fff;
	background-color: #0072ff;
	box-shadow: 0 3px 8px rgba(0, 96, 255, .4);
	border-color: #62b7ff;
	cursor: pointer;
	font-size: 20px;
}

/* Alignment: next a .center, .left, or .right beneath a .full. */
.full{
	width:100%;
}

.center{
	display: block !important;
	margin: 0 auto;
}

.left{
	display: block !important;
	margin: 0 auto 0 0;
}

.right{
	display: block !important;
	margin: 0 0 0 auto;
}

/* nuForm CSS adapted from: https://www.coderglass.com/social/facebook-style-homepage.php */
.nuIntro{
	top:70px;
	font-family:verdana;
	font-size:18px;
	color:#000;
	height:50px;
	font-decoratin: italic;
}
.nuField, .nuField:focus {
	width:100%;
	max-width:100%;
	height:43px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
.nuField:focus {
	outline: none;
	box-shadow: 0px 0px 5px 1px #0066ff;
}
.nuBtn{
	border-radius: 2rem;
	width:250px;
	font-family:verdana;
	font-size:18px;
}
.nuFieldSubtext{
	font-family:verdana;
	color:gray;
}
.nuFooter{
    margin: 2rem auto 0 auto;
    font-size: 18px;
    display: block;
}
#override .nuLabel{
	margin: .5rem 0 0 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999f;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999f;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #999f;
}
#override .nuCheckbox {
	margin: 6px;
	margin-left: 12px;
	vertical-align: middle;
}

.passwordContainer {
	position: relative;
}
.passwordContainer i {
	position:absolute;
	cursor: pointer;
	top: 20px;
	right: 10px;
}

hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,1)}

.submit { cursor:pointer; }
.vote {  /* A voting list item or submit button. */
	line-height: 1.1;
	cursor: pointer;
	font-size: 20px;
	padding-right: .5rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
	margin: 6px;
	margin-left: 8px;

	-ms-word-break: break-all;
	word-break: break-word;
}
.vote2 {  /* Like .vote but less left margin & padding.  (To give poll options more horizontal room.) */
	line-height: 1.1;
	cursor: pointer;
	font-size: 20px;
	padding-right: .5rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
	margin: 6px;
	margin-left: 4px;

	-ms-word-break: break-all;
	word-break: break-word;
}
.rankedVote { width: 30px; padding: 0px 5px; }
.rankedVoteIntro { font-style: italic; }

textarea { font-family:monospace; color:#000000; }

label.error { font-family:Verdana, Geneva, sans-serif; color:#ee0000; }


#override .upvote, #override .downvote {
	margin-top: 5px;
	margin-bottom: 5px;
}

#override .upvote {
	margin-left: 2px;
	margin-right: 1px;
}

#override .downvote {
	margin-left: 1px;
	margin-right: 2px;
}

#override .upvote a:link,
#override .upvote a:visited {
	color: #d39; /*#a86;*/
	text-decoration: none;
}

#override .downvote a:link,
#override .downvote a:visited {
	color: #39d; /*#68a;*/
	text-decoration: none;
}

#override .upvote   a:hover,
#override .upvoted  a:link,
#override .upvoted  a:visited {
	color: #f00;
	text-decoration: none;
}
#override .downvote a:hover,
#override .downvoted a:link,
#override .downvoted a:visited {
	color: #00f;
	text-decoration: none;
}


#override .articleTitle,
#override .articleTitle a {
	/*color: #003980;*/
	/*color: #0220e8;*/
	/*color: #012cb4;*/

	max-width: 100%;
	word-break: break-word;
	-ms-word-break: break-all;
}


#override .articleTitle a:hover,
#override .anchor a:hover,
#override .anchor a:focus,
#override a.pollImageLabel:hover,
#override a.pollImageLabel:focus,
#override a.user:hover,
#override a.user:focus,
#override a.title:hover,
#override a.title:focus,
#override a.userTag:hover,
#override a.userTag:focus {
	color: blue !important;
}

#override a.cat:hover,
#override a.cat:focus {
	text-decoration: none;
}

.title   { font-family:Verdana, Geneva, sans-serif; }
.subtext { font-family:Verdana, Geneva, sans-serif; font-size: 18px; }


#override .upvoted a:link,
#override .upvoted a:visited,
#override .upvoted a:hover,
#override .upvoted a:focus {
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

#override .downvoted a:link,
#override .downvoted a:visited,
#override .downvoted a:hover,
#override .downvoted a:focus {
	-webkit-animation-name: bluePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
	from { text-shadow: 0px 0px 5px rgba(255,0,0,0); }
	50%  { text-shadow: 0px 0px 5px rgba(255,0,0,1); }
	to   { text-shadow: 0px 0px 5px rgba(255,0,0,0); }
}
@-webkit-keyframes bluePulse {
	from { text-shadow: 0px 0px 5px rgba(0,0,255,0); }
	50%  { text-shadow: 0px 0px 5px rgba(0,0,255,1); }
	to   { text-shadow: 0px 0px 5px rgba(0,0,255,0); }
}

.carousel-control.left, .carousel-control.right {
  left: 0;
  z-index: 1;
}


.active{border:2px solid #f00;}

.yclinks { font-family:Verdana, Geneva, sans-serif; color:#828282; }
.pagetop { font-family:Verdana, Geneva, sans-serif; color:#222222; }
.pagetop a:hover, .pagetop a:focus { color: #0072ff !important; text-decoration: none !important; } <!-- This line doesn't work -->
.comhead { font-family:Verdana, Geneva, sans-serif; color:#828282; }
.comment { font-family:Verdana, Geneva, sans-serif; }

.comment a:link, .comment a:visited { text-decoration: underline; }
.noshow { display: none; }
.nosee { visibility: hidden; pointer-events: none; cursor: default }

.pagetop a:visited { color:#000000;}

pre:hover { overflow:auto }

/* ============================== Frame styles: ============================== */
figure {
	position: relative;
}

.update {
	position: absolute;
	color: white;
	background-color: red;
	font-size: 18px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	font-weight: 900;
	vertical-align:	center;
}

@media screen and (min-width:525px) { /* wide screens - desktop */
	.vz-nav-icon{
		font-size: 48px;
		min-height: 54px;
		vertical-align: middle;
	}
	.vz-in-circle {
		position: absolute;
		top: 11.5px;
		left: 16.5px;
		color: white;
		font-size: 24px;
	}
	.vz-nav-table{
		font-size: 20px;
	}
	.vz-nav-td{
		line-height:20px;
		height:		10px;
		padding: 	0px 5px;
		color:		white !important;
	}
	.vz-nav-span{
		line-height:20px;
		float:		left;
		padding: 	5px 10px;
	}
	.vz-logo-circle{
		width:       46px;
		height:      46px;
		line-height: 46px;
	}
	.vz-logo-circle span{
		font-size: 28px;
	}
	.vz-nav-dino-head{
		width:		 48px;
		height:		 48px;
	}
	.vz-nav-dino-text{
		max-width:		20vw;
		word-break: 	break-all;
		-ms-word-break: break-all;
		vertical-align: top;
		display:		block;
	}
	.update-polls {
		top: 			0.5px;
		right: 			0.5px;
	}
	.update-news {
		top: 			0.5px;
		right: 			0.5px;
	}
	.update-activity {
		top: 			0.5px;
		right: 			16.5px;
	}
}
@media screen and (max-width:525px) { /* narrow screens - mobile */
	.vz-nav-icon{
		font-size: 		13.5vw;
		min-height: 	54px;/*15.3vw;*/
		vertical-align: middle;
	}
	.vz-in-circle {
		position: absolute;
		top: 3.8vw;
		left: 3.4vw;
		color: white;
		font-size: 6.6vw;
	}
	.vz-nav-table{
		font-size: 		min(20px, 4.4vw);
		text-overflow:	ellipsis;
	}
	.vz-nav-td{
		line-height:	20px;
		height:			10px;
		padding: 		0px;/*0 .15vw;*/
		color:			white !important;
	}
	.vz-nav-span{
		line-height:	21px;
		float:			left;
		padding: 		1.2vw 1.8vw;
	}
	.vz-circle-container{
		min-height: 	54px;
		vertical-align:	center;
		padding-top: 	3px;
	}
	.vz-logo-circle{
		width:       	12.5vw;
		height:      	12.5vw;
		line-height: 	12.5vw;
	}
	.vz-logo-circle span{
		font-size:	 	6vw;
	}
	.vz-nav-dino-head{
		width:			13.5vw;
		height:			13.5vw;
	}
	.vz-nav-dino-text{
		max-width:		max(60.2px, 15.4vw);
		word-break: 	break-all;
		-ms-word-break: break-all;
		vertical-align: top;
		display:		block;
	}
	.update {
		font-size: 		4vw;
		width: 			5.5vw;
		height: 		5.5vw;
	}
	.update-polls {
		top: 			0.14vw;
		right: 			-1.0vw;
	}
	.update-news {
		top: 			0.14vw;
		right: 			-1.0vw;
	}
	.update-activity {
		top: 			0.14vw;
		right: 			1.6vw;
	}
}

figcaption {
    vertical-align: top;
}

.vz-logo-circle{
	border-radius:50%;
	box-sizing:border-box;
	text-align:center;
	display:inline-block;
	/*background-color:#000;*/
	position: relative;

	font-family:Verdana, Geneva, sans-serif;
	background-color:#222222;
}
.vz-logo-circle:hover, .circle:focus {
	background-color:#0072ff;
}

.vz-logo-circle span{
	text-decoration:none;
	color:#fff;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
}

.serif {
	font-family: "Times New Roman", Times, serif;
}
.vz_test {
	background-color:rgb(255, 37, 58);
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	display:block;
	font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size:70px;
	font-weight:400;
	height:105px;
	line-height:70px;
	max-width:350px;
	min-width:105px;
	overflow-x:hidden;
	overflow-y:hidden;
	padding-bottom:17.5px;
	padding-left:17.5px;
	padding-right:17.5px;
	padding-top:17.5px;
	position:absolute;
	right:0px;
	text-align:center;
	text-overflow:ellipsis;
	text-size-adjust:100%;
	top:0px;
}

.softBorder {
	border: 1px solid #dadce0;
	border-radius: 8px;
	margin: 2px;
}

.softBorder:hover {
	border: 1px solid #0072ff;
	border-radius: 8px;
	margin: 2px;
}
