{{/* TODO: to free up vertical real estate, try concatting articlesrc, time, vote count, num comments, ... onto the top line, all together.
           But wait, does this work on mobile?  Have to get another phone to find out.. :?  */}}

{{define "content"}}
<style>
.unvisited{
	background-color: #eef;
}
.visited{
	background-color: white;
}
</style>
<br>
<br>
<div class="row vz-row">
	<div class="col-md-8 vz-col-md-8 center">
		<center>
			<h5 style="margin: 5px; font-size: 32px;">
				<strong>
					Activity feed
				</strong>
			</h5>
			<br>
		</center>
		{{- range $o, $order := .ListOrder }}
			{{- $message	:= (index $.Messages  $order) -}}
			{{- $article	:= (index $.Articles  $order) -}}
			{{- $link		:= (index $.Links     $order) -}}
			{{- $unvisited	:= (index $.Unvisited $order) -}}
			<div id="n{{$o}}" class="{{if $unvisited}}unvisited{{else}}visited{{end}}">
				<a>
					<span><img src="{{$article.AuthorIconUrl}}" width=24 height=24></span>
					<span style="color: #88f; font-size: 18px;">{{$article.Author}}</span>
				</a>
				<a href="{{ $link }}" target="_blank"
				   style="font-size: 18px; color: #003980; padding-left: 5px; max-width: 100%; word-break: break-word; -ms-word-break: break-all;"
				   onclick="$('#n{{$o}}').removeClass('unvisited');">
					<span class="title">
						{{ $message }}
					</span>
					&middot;
					<span class="title" style="font-size: 16px">{{$article.TimeSince}}</span>
				</a>
			</div>
		{{- end }}
	</div>
</div>
<br>
<br>
{{end}}