{{/* TODO: to free up vertical real estate, try concatting articlesrc, time, vote count, num comments, ... onto the top line, all together.
           But wait, does this work on mobile?  Have to get another phone to find out.. :?  */}}

{{define "content"}}
<br>
<br>
<div class="row vz-row">
	<div class="col-md-8 vz-col-md-8 center">
		<center>
			<h5 style="margin: 5px; font-size: 32px;">
				<strong>
					Activity feed
				</strong>
			</h5>
		</center>
		{{- range $o, $order := .ListOrder }}
			{{- $message := (index $.Messages $order) -}}
			{{- $article := (index $.Articles $order) -}}
			<div>
				<span>
					<img src="{{ $article.UrlToThumbnail }}" width="60">
				</span>
				<span class="age">
					{{ $article.TimeSince }}
				</span>
				<span class="title" style="font-size: 20px; color: #003980; padding-left: 5px; max-width: 100%; word-break: break-word; -ms-word-break: break-all;">
					{{ $message }}
				</span>
			</div>
		{{- end }}
	</div>
</div>
{{end}}