{{define "mainContent"}}
	{{ $article := .Article }}

	{{ template "BackToCategory" $article.Category }}

	<a href="{{$article.Url}}" target="_blank" class="storylink">
		<img src="{{$article.UrlToImage}}" width="100%">
	</a>

	<table border="0" cellpadding="0" cellspacing="0" class="subtext" style="width: 100%">
		<tr>
			<td align="left" style="width: 35%; padding-left:5px;">

				{{ template "UserTag" $article }}
				&middot;
				<span class="age" align="right">{{$article.TimeSince}}</span>
			</td>
		</tr>

		<tr valign="top">
			<td class="title" style="padding-left: 5px; font-size: 22px;">
				<span>
					<a href="{{$article.Url}}" target="_blank" class="storylink" style="color:blue">{{$article.Title}}</a>
				</span>
				<a href="{{$article.Url}}" target="_blank" style="color: #0079d3;">
					{{$article.Host}}
					<i class="fas fa-external-link-alt" style="font-size: 14px; vertical-align: middle;"></i>
				</a>
			</td>
		</tr>

		<tr valign="top">
			<td style="padding-left: 15px; padding-top: 10px;">
				{{$article.Description}}
				{{ if not $article.IsPoll }}
					<br>
					<a href="{{$article.Url}}" target="_blank" style="color: #0079d3;">Continue reading...</a>
				{{end}}
			</td>
		</tr>

		{{ template "PollForm" $article }}

		<tr>
			<td class="subtext" style="width: 100%; padding-left: 5px; padding-top: 10px">
				<table width="100%"><tr>
					{{ template "PostVoteWidget" $article }}
					<!--<td align="right" style="width: auto;">
						<a href="#">...</a>
					</td>-->
				</tr></table>
			</td>
		</tr>



		<tr class="spacer" style="height:5px"></tr>
	</table>

	{{ template "comments" . }}

<script>
	{{ $poll := $article.PollOptionData }}

	function addOption(pollId) {
		if (numNewOptions > 16) {
			alert("Adding too many options at once!");
			return;
		}

		var newVoteOption = $("#addOptionLink");

		newVoteOption.before(`
			{{ if $poll.RankedChoiceVoting }}
				<label>
					<input id="vote_N${numNewOptions}" type="digit" value="" size="1"
						   maxlength="1" style="width: 25px; padding: 5px; margin: 4px 4px 4px 0; margin-right: 0;">
				</label>
			{{ else if $poll.CanSelectMultipleOptions }}
				<label class="vote">
					<input id="vote_N${numNewOptions}" type="checkbox" class="vote"
						   value="N${numNewOptions}" style="margin: 6px; margin-right: 0;">
				</label>
			{{ else }}
				<label class="vote" style="margin-bottom: 0">
					<input id="vote_N${numNewOptions}" type="radio" class="vote"
						   name="vote_{{$article.Id}}"
						   style="margin: 8px; margin-right: 0;">
				</label>
			{{ end }}

			  <input id="vote_NewOption${numNewOptions}" type="text" class="nuField"
			  		 name="vote_NewOption${numNewOptions}"
					 value="" size="30" maxlength="50"
					 placeholder="New option"
					 style="width: 60%; margin: 4px 4px 4px 0;"><br>
		`);

		numNewOptions++;

		if (numNewOptions > 1024) // Max number of options allowed
			return;
	}

	$(function() {
	    console.log("window.location.hash = " + window.location.hash);

		// If user came here from a prompt to add an option to the poll, add an option and give it focus.
	    if (window.location.hash == '#vote_NewOption0') {
	    	addOption({{ $article.Id }});

	    	$('#vote_NewOption0').focus();
	    }
	});
</script>

{{end}} {{/*mainContent*/}}
