<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
		{{ range $k, $v := .PageArgs.Metadata}}
			<meta property="{{$k}}" content="{{$v}}" />
		{{- end }}

		<title>{{ .PageArgs.Title }} - votezilla</title>

		<!-- REVERT!!! -->
		<script>
		  <!-- The settings you provide will be merged with the default settings -->
		  FontAwesomeConfig = {
			searchPseudoElements: true
		  }
		</script>
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

		<!--<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>  << fixes an error message, but it also seems unnecessary. -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/static/style.css?23j2293399k25s322fa8sd765562h2d22s6434026293932325531452377d33nffn32g3132wwwff111s11133223aa338972dsdsds33su33222">

		<!-- Note; to move this JQuery JS to below the body, I'll need to move all JQuery JS code out of my html files, into a .js file that gets included after. -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	</head>
	<body id="override">

		{{ template "body" . }}

		<script>
			function onSelect(field) {
				console.log("field.value ", field.value);
				console.log("field.name ", field.name);

				console.log("OTHER!!!!")

				console.log("`input[name='other_${field.name}']`", `input[name='other_${field.name}']`);

				var otherField = $(`input[name='other_${field.name}']`); //$(`other_${field.name}`)

				console.log("otherField = ", otherField)

				const display = otherField.css('display');
				console.log("display = ", display);

				const isOther = field.value == 'OTHER';
				otherField.css('display', isOther ? 'block' : 'none');
			}
		</script>

		<!-- Load the JS here so the page can become responsive faster
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		-->

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>
