{{/* PARALLEL_CODE(ADD_COMMENT_WIDGET) */}}
{{define "AddCommentWidget"}}
	<p>
		<div class="comment" id="comment_{{ . }}">
			<table>
				<tr>
					<td valign=top>
						<img src="/static/dino comment.jpg" width=32 style="vertical-align: baseline;">
					</td>
					<td>
						<textarea id="text_{{ . }}" value="" placeholder="Add a comment" maxlength="40000" class="nuTextarea" rows="4" cols="80"></textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td align=right>
						<button type="submit" onclick="onReplyToCommentClicked({{ . }})" class="btn btn-vote" style="margin: .5rem 0;">
							Comment
						</button>
					</td>
				</tr>
			</table>
		</div>
	</p>
{{end}}




{{/* TODO: try recursiveness - template "comments" .Comments */}}

{{define "comments"}}

	{{$postId := .Article.Id}}

	<style>
		.nuTextarea, .nuTextarea:focus {
			background: white;
			border-color: gray;
			border-radius:5px 5px 5px 5px;
			border-style: solid;
			border-width: 1px;
			font-size: 18px;
			height: default;
			margin-top: 0;
			max-width: 100%;
			padding: 10px;
			resize: both;
			width: 100%;
		}
		.nuTextarea:focus {
			outline: none;
			box-shadow: 0px 0px 5px 1px #0066ff;
		}
		.nuTextarea:not(focus) {
			background-color: #eee;
			color: #666;
		}

		@media screen and (min-width:750px) { /* LARGE DEVICES */
			.commentWidgets {
				width: 92%;
			}

			.vzcomment_children { margin-left: 26px; border-left: 1.5px solid #ddf; }
		}
		@media screen and (max-width:750px) { /* SMALL DEVICES */
			.commentWidgets {
				width: 100%;
			}

			.vzcomment_children { margin-left: 24px; border-left: 1.5px solid #ddf; }
		}
		.vzcomment          		{ margin-left: 20px; }
		.vzcomment_children_first	{ margin-left: 9px; }
	</style>

	<div> <!--  class="vzcomment" -->

		{{ template "AddCommentWidget" -1 }}

		{{ range $t, $tag := .Comments -}}{{/* CommentTags */}}
			{{- if $tag.IsChildrenStart -}}
				{{- if eq $t 0 }}
					<div class="vzcomment_children_first">
						<div class="vzcomment_children_first">
				{{- else }}
					<div class="vzcomment_children">
						<div class="vzcomment">
				{{- end }}
			{{- else if $tag.IsChildrenEnd -}}
					</div>
				</div>
			{{- else -}} {{/* comment text */}}
				<p>
					<div class="subtext" class="commentWidgets">
						<a href="#" target="_blank">
							<span><img src="/static/mozilla%20dinosaur%20head.png" width=16 height=16></span>
							<span style="color: #88f;">{{$tag.Username}}</span>
						</a>
						&middot;
						<span class="age" align="right">5h</span>

						<p>
							<a id="comment_{{$tag.Id}}" style="word-wrap: break-word;">
								{{- range $_, $textLine := $tag.Text }}
									{{ $textLine }}
									<br>
								{{- end }}
							</a>
						<p>

						{{- if $tag.IsExpandible -}}
							<a id="expand_{{$tag.Id}}" onClick="ExpandComment({{$tag.Id}})";>Expand...</a>
						{{- end -}}

						<table class="commentWidgets"><tr>
							<td align="left" style="width: 40%;">
								<span class="upvote" id="upvote{{$postId}}"><a href="javascript:Vote({{$postId}}, true)" class="upvote">&#x25B2;</a></span>
								<a href="#" id="votetally{{$postId}}">0</a>
								<span class="downvote" id="downvote{{$postId}}"><a href="javascript:Vote({{$postId}}, false)">&#x25BC;</a></span>
							</td>
							<td align="center" style="width: auto;">
								<a href="#">...</a>
							</td>
							<td align="right" style="width: 40%;">
								<span style="size: 16px">
									<a href="javascript:ReplyToComment({{$postId}}, {{$tag.Id}})">
										<img src="/static/comment.png" width="16" height="16"> Reply
										<!--<img src="/static/comment icon.jpg" width=16 height=16 style="vertical-align: baseline;"> Reply-->
									</a>
								</span>
							</td>
						</tr></table>
					</div>
				</p>
			{{- end -}}
		{{- end }}
	</div>

	<script>

	///////////////////////////////////////////////////////////////////////////////
	//
	// COMMENTING FUNCTIONS
	//
	///////////////////////////////////////////////////////////////////////////////
	var collapsedComments = [];

	function ExpandComment(commentId) {
		data = JSON.stringify({
			CommentId: commentId
		});

		$.ajax({
			url: '/ajaxExpandComment/',
			type: "post",
			contentType: 'application/json; charset=utf-8',
			data: data, // Hmmm <-- should be UserId not Username
			dataType: 'json',
			success: function(r) {
				console.log("AJAX - success");
				console.log("Id: " + `#comment_${commentId}`);
				console.log("r.Text: " + r.Text);

				$(`#comment_${commentId}`).text(r.Text);
			},
			error:   function(r) { console.log("AJAX - error"); }
		});
	}

	// Reply to the comment with this id.
	function ReplyToComment(postId, parentId) {
		parent = document.getElementById(`comment_${parentId}`);

		console.log(parentId);
		console.log(parent);

		// PARALLEL_CODE(ADD_COMMENT_WIDGET)
		// Insert create comment button.
		var html = `<p>
				<div class="comment" id="comment_${parentId}">
					<table>
						<tr>
							<td valign=top>
								<img src="/static/dino comment.jpg" width=32 style="vertical-align: baseline;">
							</td>
							<td>
								<textarea id="text_${parentId}" name="text_${parentId}" value="" placeholder="Add a comment" length="50" class="nuTextarea" rows="4" cols="80"></textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td align=right>
								<button type="submit" onclick="onReplyToCommentClicked(${parentId})" class="btn btn-vote" style="margin: .5rem 0;">
									Comment
								</button>
							</td>
						</tr>
					</table>
				</div>
			</p>`;

		console.log(html);

		parent.insertAdjacentHTML('beforeend', html);

		$(`#reply_button_${parentId}`).focus();  // Focus on the new comment.
	}

	function onReplyToCommentClicked(parentId) {
		console.log(`#text_${parentId}`);

		if (!loggedIn) {
			alert("You must be logged in to do that!") // TODO: this should be a modal dialog that gives them the option to log in.
			return;
		}

		var text = $(`#text_${parentId}`).val();

		console.log(text);

		data = JSON.stringify({
				PostId:	  {{ $postId }},
				ParentId: parentId,
				Text: 	  text});

		console.log(data);

		$.ajax({
			url: '/ajaxCreateComment/',
			type: "post",
			contentType: 'application/json; charset=utf-8',
			data: data, // Hmmm <-- should be UserId not Username
			dataType: 'json',
			success: function(r) {
				console.log("AJAX - success");
				console.log("r.Id: "   + r.Id);
				console.log("r.Text: " + r.Text);

				window.location.hash = '#comment_' + r.Id;
				window.location.reload(true);

			},
			error:   function(r) { console.log("AJAX - error"); }
		});
	}

	// Workaround for a Chrome bug that does not goto the anchor upon a url redict.
	// Source: https://stackoverflow.com/questions/38588346/anchor-a-tags-not-working-in-chrome-when-using
	$(document).ready(function () {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        if (window.location.hash && isChrome) {
            setTimeout(function () {
                var hash = window.location.hash;
                window.location.hash = "";
                window.location.hash = hash;
            }, 300);
        }
    });

	</script>

{{end}} {{/*comments*/}}