{{/* TODO: try recursiveness - template "comments" .Comments */}}
{{define "comments"}}

{{$postId := .Article.Id}}


<div class="vzcomment">
	<p>
		<span class="comment" id="comment_-1">
			<a href="javascript:ReplyToComment({{$postId}}, -1)">
				<img src="/static/comment.png" width="16" height="16">
				<span style="font-size: 16px !important">Write a Comment</span>
			</a>
		</span>
	</p>
	{{ range $t, $tag := .Comments -}}{{/* CommentTags */}}
	{{- if $tag.IsChildrenStart -}}
			<div class="vzcomment_children">
				<div class="vzcomment">
		{{- else if $tag.IsChildrenEnd -}}
				</div>
			</div>
		{{- else -}} {{/* comment text */}}
			<p class="vztagline"><a href="#" onclick="return togglecomment(this)">[&ndash;]</a><a href="#">{{$tag.Username}}</a></p>
			<p>{{$tag.Text}}</p>
			<p>
				<span id="comment_{{$tag.Id}}" style="size: 16px">
					<a href="javascript:ReplyToComment({{$postId}}, {{$tag.Id}})">
						<img src="/static/comment.png" width="16" height="16"> Reply
					</a>
				</span>
			</p>
		{{- end -}}
	{{- end }}
</div>



<script>

///////////////////////////////////////////////////////////////////////////////
//
// COMMENTING FUNCTIONS
//
///////////////////////////////////////////////////////////////////////////////

function onReplyToCommentClicked(postId, parentId) {
	console.log(`#text_${parentId}`);

	if (!loggedIn) {
		alert("You must be logged in to do that!") // TODO: this should be a modal dialog that gives them the option to log in.
		return;
	}

	var text = $(`#text_${parentId}`).val();

	console.log(text);

	data = JSON.stringify({
			PostId:	  postId,
			ParentId: parentId,
			Text: 	  text});

	console.log(data);

	$.ajax({
		url: '/ajaxCreateComment/',
		type: "post",
		contentType: 'application/json; charset=utf-8',
		data: data, // Hmmm <-- should be UserId not Username
		dataType: 'json',
		success: function(r) {
			console.log("AJAX - success");
			console.log("r.Id: "   + r.Id);
			console.log("r.Text: " + r.Text);

			// Inject new comment html for the new comment.
			var parent = document.getElementById(`comment_${r.ParentId}`);
			parent.insertAdjacentHTML('beforeend',  // Note: this HTML code is duplicated in comments.html
				`<p class="vztagline"><a href="#" onclick="return togglecomment(this)">[&ndash;]</a><a href="#">{{.Username}}</a></p>
				 <p>${r.Text}</p>
				 <p><span id="comment_${r.Id}" style="size: 16px">
					<a href="javascript:ReplyToComment(${r.PostId}, ${r.Id})">
						<img src="/static/comment.png" width="16" height="16"> Reply
					</a>
				 </span></p>`);

			// Focus on the new comment
			document.getElementById(`comment_${r.Id}`).focus();

			console.log(`$("#text_${r.ParentId}").remove();`);

			// Remove the old new comment form inputs.
			// Note: Due to some jquery weirdness, I can't find a subtree remove, just yet.
			document.getElementById(`text_${r.ParentId}`).remove();
			document.getElementById(`reply_button_${r.ParentId}`).remove();
		},
		error:   function(r) { console.log("AJAX - error"); }
	});
}

// Reply to the comment with this id.
function ReplyToComment(postId, parentId) {
	parent = document.getElementById(`comment_${parentId}`);

	console.log(parentId)
	console.log(parent)

	console.log( `<p id="reply_text_${parentId}">
			<table>
				<tr>
					<td valign="bottom">
						<textarea id="text_${parentId}" rows="4" cols="60"></textarea>
					</td>
					<td valign="bottom">
						<button type="submit" id="reply_button_${parentId}" onclick="onReplyToCommentClicked(${postId}, ${parentId})" class="save" style="margin: 5.5px;">
							Create
						</button>
					</td>
				</tr>
			</table>
		</p>`);

	parent.insertAdjacentHTML('afterend',
	    `<p>
			<table>
				<tr>
					<td valign="bottom">
						<textarea id="text_${parentId}" rows="4" cols="60"></textarea>
					</td>
					<td valign="bottom">
						<button type="submit" id="reply_button_${parentId}" onclick="onReplyToCommentClicked(${postId}, ${parentId})" class="save" style="margin: 5.5px;">
							Create
						</button>
					</td>
				</tr>
			</table>
		</p>`);

	$(`#reply_button_${parentId}`).focus();  // Focus on the new comment.
}
</script>

{{end}} {{/*comments*/}}