{{define "content"}}
	{{template "formHeader" "Create post for"}}

	<div>
		<span>
			<a href="/createPoll" style="text-decoration: none;">
				<button type="submit" class="nuBtn btn btn-vote left" style="margin-top: 1rem; width: 100%; font-size: 18px;">
					Create Poll
				</button>
			</a>
		</span>
		<span style="font-size: 18px;">
			Create a new poll, to let people vote on and discuss a topic of your choice.
		</span>
	</div>

	<div>
		<span>
			<a href="/createLink" style="text-decoration: none;">
				<button type="submit" class="nuBtn btn btn-green left" style="margin-top: 1rem; width: 100%; font-size: 18px;">
					Share Article or Link
				</button>
			</a>
		</span>
		<span style="font-size: 18px;">
			Share a link to a news article or cool website link, and let people discuss the topic.
			<!-- "Create a poll question relating to politics or any other topic you find interesting" -->
		</span>
	</div>

	<div>
		<span>
			<a href="/createBlog" style="text-decoration: none;">
				<button type="submit" class="nuBtn btn btn-orange left" style="margin-top: 1rem; width: 100%; font-size: 18px;">
					Create Blog Post
				</button>
			</a>
		</span>
		<span style="font-size: 18px;">
			Share your own thoughts by writing a blog article.
		</span>
	</div>
{{end}}


