{{define "content"}}
{{ template "formHeader" "Create poll for" }}
{{ template "beginForm" .Form }}
	{{ $f := .Form.FieldMap }}

	{{ template "field" $f.title -}}

	{{- range $i, $option := .PollOptions -}}
		{{- template "field" $option -}}
	{{- end -}}

	<p>
	<a href="javascript:addOption()" style="color:blue; font-size: 20px;">+ Add option...</a></td>

	<p>
	{{ template "field" $f.bAnyoneCanAddOptions -}}
	<p class="nuFieldSubtext" style="margin-left: 50px;">Enables users to add their own options to the poll. Good for open-ended polls.</p>
	{{ template "field" $f.bCanSelectMultipleOptions -}}
	<p class="nuFieldSubtext" style="margin-left: 50px;">Enables users to selection multiple options.</p>
	{{ template "field" $f.bRankedChoiceVoting -}}
	<p class="nuFieldSubtext" style="margin-left: 50px;">Enables ranked choice voting.  Users can pick their 1st, 2nd, 3rd choices.  Gives third parties a fair chance.</p>
	{{ template "field" $f.category -}}

	<p>
	{{ template "button" "Create Poll" }}
	<br>

<script>
	var numOptions = 2;

	function addOption() {
		numOptions++;

		if (numOptions > 1024) // Max number of options allowed
			return;

		// Add a new option, after all the other options.
		$(`input[name ="option${numOptions-1}"]`).after(
			`<input type="text" name="option${numOptions}" value="" placeholder="add option..." length="50" class="nuField">`
		);
	}
</script>
{{end}}

