{{define "content"}}
{{template "formHeader" "Create link post for"}}
{{ template "beginForm" .Form }}
	{{ $f := .Form.FieldMap }}
	{{ template "field" $f.link -}}
	{{ template "field" $f.title -}}
	{{ template "field" $f.category -}}
	{{ template "field" $f.thumbnail -}}
	<div id="thumbnail_img_anchor"></div>
	<p>
	{{ template "button" "Create Link Post" }}
	<br>
{{ template "endForm" }}


<script>
var urls;

function selectThumbnail(idx) {
	$('#image_container img').removeClass('active');
	$('#img_'+idx).addClass('active');

	urlToImage = urls[idx];

	$('input[name="thumbnail"]').val(urlToImage);
}

function findImagesFromLink(linkUrl) {
	console.log("Link Url is: " + linkUrl);

	// AJAX - database state
	$.ajax({
		url: '/ajaxScrapeImageURLs/',
		type: "post",
		contentType: 'application/json; charset=utf-8',
		data: JSON.stringify({ Url: linkUrl }), // Hmmm <-- should be UserId not Username
		dataType: 'json',
		success: function(r) { // TODO: Need to also call this on init.

			console.log("AJAX - success r.Images = " + r.Images);

			//$('#thumbnail container').show();

			$('#image_container img').remove();

			var OGImages = []

			for ( i in r.OGImages ) {
				console.log('First loop i = ' + i + ' r.OGImages[img] = ' + r.OGImages[i])
					$('#image_container').append( '<img id="img_'+ i +'" src="' + r.OGImages[i] + '" width=1 height=1 />' );

				OGImages[r.OGImages[i]] = true;
			}

			r.Images.push("/static/mozilla dinosaur thumbnail.png"); // So we always have a backup dinosaur thumbnail to use.

			for ( i in r.Images ) {
				console.log('First loop i = ' + i + ' r.Images[img] = ' + r.Images[i])
				if (OGImages[r.Images[i]]) {
					console.log("Skipping cause OGImages already has this one!");
					continue;
				}
				$('#image_container').append( '<img id="img_'+ i +'" src="' + r.Images[i] + '" width=125 height=75 />' );
			}

			var imageSortData = []
			$('#image_container img').each(function(){
				console.log($(this).prop('src') + ' ' + $(this).prop('naturalWidth') + ' ' + $(this).prop('naturalHeight'));

				var w = $(this).prop('naturalWidth'),
					h = $(this).prop('naturalHeight'),
					m = Math.min(w, h),
					M = Math.max(w, h),
					size = m * m * M;

				//if (w < 32 || h < 32 || w / h > 2 || w / h < 2)
				//	continue;

				imageSortData.push({
					"src":		$(this).prop('src'),
					"size":		size,
					"ogimage":	OGImages[$(this).prop('src')]
				});
			});

			// Sort images by size, decreasing.
			imageSortData.sort(function(a, b) { return b.OGImage && !a.OGImage ? 1 :
													   a.OGImage && !b.OGImage ? -1 :
													   b.size - a.size; })

			$('#image_container img').remove();

			i = 0
			urls = [];
			for (img in imageSortData) {
				console.log('Second loop img = ' + img + ' ' + imageSortData[img]["src"] + ' => ' + imageSortData[img]["ogimage"] + ", " + imageSortData[img]["size"]);
				$('#image_container').append( '<img id="img_'+ img +'" src="' + imageSortData[img]["src"] + '" width=110 height=66 style="padding: 2px; " />' );

				urls.push(imageSortData[img]["src"]);

				i++;
				if (i == 15) // Display 15 thumbnails max.  Otherwise, it gets out of hand on mobile.
					break;
			}

			$('#image_container img').click(function(){
				var id = parseInt($(this).attr('id').substr(4));

				selectThumbnail(id);
				//selectThumbnail($(this), r.Images[id]);
			});

			$('#thumbnail container').show();

			selectThumbnail(0, r.Images[0]);
		},
		error: function(r) { console.log("AJAX - error"); }
	});
}

$(document).ready(function() {
	//[]TODO: Just move this to the HTML.  We only needed this cause of the previous form library.
	$('#thumbnail_img_anchor').append(`
		<p style="margin-top: 1rem;">Choose Thumbnail:</p>
		<div style="overflow: visible; width: 100%;">
			<div id="image_container"></div>
		</div>`);

	$('#thumbnail row').hide(); // TODO: can probably comment this out.

	var $link = $('input[name="link"]');
	$link.change( function() {
		findImagesFromLink($link.val());
	});

	findImagesFromLink($link.val());
});
</script>
{{- end}}



