{{define "content"}}
{{template "formHeader" "Share link for"}}
{{ template "beginForm" .Form }}
	{{ $f := .Form.FieldMap }}
	{{ template "field" $f.link -}}
	{{ template "field" $f.title -}}
	<button type="submit"
			id="deduceTitle"
			class="btn btn-vote"
			onclick="deduceTitleClicked(); return false;"
			style="display: none; margin-top: 8px; font-size; 1rem; padding: .4rem .8rem;
				   background-color: rgb(239,239,239); border-color: rgb(32, 146, 255); color: black;">
		Guess Title
	</button>
	{{ template "field" $f.category -}}
	{{ template "field" $f.thumbnail -}}
	<p>
	<p id="thumbnailLabel" style="margin-top: 1rem; display: none;">Choose Thumbnail:</p>
	<div style="overflow: visible; width: 100%;">
		<div id="image_container"></div>
	</div>
	<p>
	{{ template "button" "Share Link" }}
	<br>
{{template "endForm"}}

<script>
var link;
var title;
var deduceTitle;
var urls;

function selectThumbnail(idx) {
	$('#image_container img').removeClass('active');
	$('#img_'+idx).addClass('active');

	urlToImage = urls[idx];

	$('input[name="thumbnail"]').val(urlToImage);
}

function findImagesFromLink(linkUrl) {
	console.log("Link Url is: " + linkUrl);

	// AJAX - database state
	$.ajax({
		url: '/ajaxScrapeImageURLs/',
		type: "post",
		contentType: 'application/json; charset=utf-8',
		data: JSON.stringify({ Url: linkUrl }), // Hmmm <-- should be UserId not Username
		dataType: 'json',
		success: function(r) {

			if (!r.Images) {
				r.Images = [];
			}

			console.log("AJAX - success r.Images = " + r.Images);

			$('#image_container img').remove();

			// First pass of adding images, so we can determine original image size, and sort by that as a quality heuristic.

			for ( i in r.Images ) {
				console.log('First loop i = ' + i + ' r.Images[i] = ' + r.Images)

				$('#image_container').append(`<img id="img_${i}" src="${r.Images[i]}" width=1 height=1 />`);
			}

			// Determine original image size, as a quality heuristic.
			var imageSortData = []
			$('#image_container img').each(function(){
				console.log($(this).prop('src') + ' ' + $(this).prop('naturalWidth') + ' ' + $(this).prop('naturalHeight'));

				var w = $(this).prop('naturalWidth'),
					h = $(this).prop('naturalHeight'),
					m = Math.min(w, h),
					M = Math.max(w, h),
					size = m * m * M;

				//if (w < 32 || h < 32 || w / h > 2 || w / h < 2)
				//	continue;

				imageSortData.push({
					"src":		$(this).prop('src'),
					"size":		size,
				});
			});

			// Sort images by size (as quality heuristic), decreasing.
			imageSortData.sort(function(a, b) { return b.size - a.size; })

			// Remove all previous image thumbnails.
			$('#image_container img').remove();

			i = 0
			urls = [];
			for (img in imageSortData) {
				console.log(`Second loop img = ${img}, imageSortData[img] = ${imageSortData[img]}, imageSortData[img][src] = ${imageSortData[img]['src']}, imageSortData[img][size] = ${imageSortData[img]['size']}`)

				$('#image_container').append(`<img id="img_${i}" src="${imageSortData[img]['src']}" style="width: 24%; height: 75px; margin: 2px;">`);

				urls.push(imageSortData[img]["src"]);

				i++;
				if (i == 16) // Display 15 thumbnails max.  Otherwise, it gets out of hand on mobile.
					break;
			}

			// Clicking on this image should select it.
			$('#image_container img').click(function(){
				var id = parseInt($(this).attr('id').substr(4));

				selectThumbnail(id);
			});

			$('#thumbnailLabel').show();

			selectThumbnail(0, r.Images[0]);
		},
		error: function(r) { console.log("AJAX - error"); }
	});
}

function deduceTitleClicked(linkUrl) {
	console.log("deduceTitle: " + linkUrl);

	// AJAX - database state
	$.ajax({
		url: '/ajaxScrapeTitle/',
		type: "post",
		contentType: 'application/json; charset=utf-8',
		data: JSON.stringify({ Url: linkUrl }), // Hmmm <-- should be UserId not Username
		dataType: 'json',
		success: function(r) { // TODO: Need to also call this on init.
			var deducedTitle = r.Title;

			console.log("Deduced title: " + deducedTitle);

			title.val(deducedTitle);
		},
		error: function(r) { console.log("AJAX - error"); }
	});


	return false;
}

function onLinkChange() {
	var linkVal = link.val();

	if (!!linkVal) {
		findImagesFromLink(linkVal);
		deduceTitle.css('display', 'block');
	} else {
		deduceTitle.css('display', 'none');
	}

	console.log("linkVal: " + linkVal);
	console.log("CSS value is now: " + deduceTitle.css('display'));
}

$(document).ready(function() {
	$('#thumbnail row').hide(); // TODO: can probably comment this out.

	link		= $('input[name="link"]');
	title		= $('input[name="title"]');
	deduceTitle	= $('#deduceTitle');

	link.change( function() {
		onLinkChange();
	});

	deduceTitle.click( function() {
		deduceTitleClicked(link.val());
	});

	onLinkChange();
});

</script>
{{- end}}



