{{define "content"}}
{{ template "formHeader" "Create poll for" }}
{{ template "beginForm" .Form }}
	{{ $f := .Form.FieldMap }}

	{{ template "field" $f.title -}}

	{{- range $i, $option := .PollOptions -}}
		{{- template "field" $option -}}
	{{- end -}}

	<p>
	<a href="javascript:addOption()" style="color:blue">+ Add option...</a></td>

	<p>
	{{ template "field" $f.bAnyoneCanAddOptions -}}
	{{ template "field" $f.bCanSelectMultipleOptions -}}
	{{ template "field" $f.bRankedChoiceVoting -}}
	{{ template "field" $f.category -}}

	<p>
	{{ template "button" "Create Poll" }}
	<br>


<script>
	var numOptions = 2;

	function addOption() {
		numOptions++;

		if (numOptions > 1024) // Max number of options allowed
			return;

		// Add a new option, after all the other options.
		$(`input[name ="option${numOptions-1}"]`).after(
			`<input type="text" name="option${numOptions}" value="" placeholder="add option..." length="50" class="nuField">`
		);
	}
</script>
{{end}}

