{{ define "body" }}

<div style="width: 100%; max-width:640px; text-align:center;">
	{{ $firstArticle := index .Polls 0 }}

	<a href="{{$firstArticle.Url}}"> <!-- Note: using $article.Url is valid as long as this is a poll.  Not valid for articles. -->
		<img src='https://votezilla.news/static/votezilla-logo/votezilla-6-email.png' alt="" style="display:block; width: 80%; max-width: 512px; margin: 0 auto;" >
	</a>
<!--
	<br>
	<div style="align:left; font-size:20px;">With unprecedented closures and rapidly delining profits due to Covid-19 lockdowns, as well as pressure from streaming services, will movie theaters survive?</div>
	<br>
-->
	{{ range $_, $article := .Polls }}
		<table width="100%">
			<tr>
				<td align="center" style="width: auto;">
					<center>
						<h5 style="font-size: 28px; color: white; background-color: #0072ff; padding: 20px 0px; font-family: Arial, Helvetica, sans-serif; margin: 0px;">
							<a href="{{$article.Url}}" style="color: inherit; text-decoration: inherit;">
								{{$article.Title}}
							</a>
						</h5>
					</center>
				</td>
			</tr>
		</table>

		<a href="{{$article.Url}}">
			<img src="{{$article.UrlToImage}}" style="width: 240px; border-radius: 8px;" alt="">
		</a>

		<a href="{{$article.Url}}" style="color: inherit; text-decoration: inherit;">
			<div style="
					background-color:#f1f1f1;
					border:solid 0px red;
					border:solid 1px #898888;
					font-family:'Trebuchet MS';
					margin:5px auto;
					width:100%;
			">
				<div style="
						background-color:red;
						background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(255,0,0,1) 100%) !important;
						border-radius:10px;
						border: 1px solid #fff !important;
						color:white;
						font-size:32px;
						font-weight:bold;
						margin:15px auto;
						padding:10px;
						text-align:center;
						width:250px;
				">
					VOTE NOW!
				</div>
			</div>
		</a>
		<br>
	{{ end }}
	<br>
<!--	<div style="align:left; font-size:20px;">P.S. I updated how Votezilla displays results for Ranked Voting Polls, so that 3rd party votes are more accurately represented.  You can see it in action for the Presidential polling results.
	(Since the ranked voting algorithm goes over multiple rounds, eliminates the candidate with the fewest votes, and redistributes their votes accordingly, it was displaying 0 for all candidates that didn't place 1st or 2nd.  I now display the max # of votes a candidate had at any round, which better represents 3rd party candidates, while accurately reporting the total number of votes the 1st and 2nd place candidates got.)  Stay thirsty, my friends!</div>-->
	<br>
	<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">
		{{ if .UnsubscribeLink }}
			To update your email preferences or unsubscribe, click <a href="{{.UnsubscribeLink}}">here</a><br>
		{{ else }}
			To unsubscribe, reply to this email with "UNSUBSCRIBE" as your subject header.<br>
		{{ end }}
		A Smith Games LLC | 722 NE Elida Dr | Grants Pass | OR | 97526-3559
	</div>
</div>

{{ end }}
