<html>
	<body><div style="width: 100%; max-width:640px; text-align:center;">

	<a href="http://10.0.0.71:8080/article/?postId=10508&amp;autoLoginEmail=#vote">
		<img src="https://votezilla.news/static/votezilla-logo/votezilla-6-email.png" alt="" style="display:block; width: 80%; max-width: 512px; margin: 0 auto;">
	</a>
	<br>
	<div style="align:left; font-size:20px;">Wow, what a close election!  (Votezilla predicted a close election, did we not?)  Probably closer than anyone would have wished for.  Yet here we are.</div>
	<br>
	<div style="align:left; font-size:20px;">We've got a double-whammy of excitement today.  We're going to attempt to predict the election by accumulating everyone's guesses as to who will win each swing state.  Buckle up, cause it's a Double-Poll Post-Election Wednesday!</div>
	<br>


	<table width="100%">
		<tbody><tr>
			<td align="center" style="width: auto;">
				<center>
					<h5 style="font-size: 28px; color: white; background-color: #0072ff; padding: 20px 0px; font-family: Arial, Helvetica, sans-serif; margin: 0px;">
						<a href="http://10.0.0.71:8080/article/?postId=10508&amp;autoLoginEmail=#vote" style="color: inherit; text-decoration: inherit;">
							Ranked Vote for President
						</a>
					</h5>
				</center>
			</td>
		</tr>
	</tbody></table>

	<a href="http://10.0.0.71:8080/article/?postId=10508&amp;autoLoginEmail=#vote">
		<img src="http://10.0.0.71:8080/static/ballotboxes/ballotbox-3dinos.jpg" style="width: 240px; border-radius: 8px;" alt="">
	</a>

	<a href="http://10.0.0.71:8080/article/?postId=10508&amp;autoLoginEmail=#vote" style="color: inherit; text-decoration: inherit;">
		<div style="
				background-color:#f1f1f1;
				border:solid 0px red;
				border:solid 1px #898888;
				font-family:'Trebuchet MS';
				margin:5px auto;
				width:100%;
		">
			<div style="
					background-color:red;
					background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(255,0,0,1) 100%) !important;
					border-radius:10px;
					border: 1px solid #fff !important;
					color:white;
					font-size:32px;
					font-weight:bold;
					margin:15px auto;
					padding:10px;
					text-align:center;
					width:250px;
			">
				VOTE NOW!
			</div>
		</div>
	</a>
	<br>
	<br>
	<div style="
		background-color:white;
		border:solid 0px red;
		border:solid 1px #898888;
		font-family:'Trebuchet MS';
		margin:0 auto;
		margin-top: 0px;
		width:100%;
		max-width:400px;
		">
		<div style="text-align:left; color: #50abe4; margin: 5px;">
			Sponsored
		</div>
		<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">
			The best gift ewe can give for the holidays is quality time together. &nbsp;Enjoy it with Sheeple!
			<br><br><i>Enjoy <b>20% off</b>, NOW until Cyber Monday!</i>
		</div>
		<a href="http://bit.ly/SheePLe">
			<img src="http://localhost:8080/static/sheeple/ProjectImage X2 w400.jpg" style="width: 400px;" alt="">
		</a>

		<div style="
					background-color:#f1f1f1;
					font-family:'Trebuchet MS';
					margin-top: 0px;
					max-width:400px;
					">

			<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; margin: 10px; display:inline-block; width: 220px; display: table-cell; ">
						  SHEEPLE: Fun Family Party Game for 3-12 Players
			</span>
			<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; width: 230px;">
			  <a href="http://bit.ly/SheePLe">
				<span style="
							background-color: rgb(0,81,255);
							background: linear-gradient(0deg, /*#50abe4*/rgb(0,81,255)  0%, /*#3479a2*/rgb(0,255,255) 100%) !important;
							border-radius:10px;
							border: 1px solid #fff !important;
							color:white;
							display:inline-block;
							font-size:18px;
							font-weight:bold;
							padding:10px;
							text-align:center;
							width:150px;
							height: 10px;
							height: 20px;
							vertical-align: middle;
							width: 150px;
							">
					LEARN MORE
				</span>
			  </a>
			</span>
		</div>
	</div>


	<br>
	<br>
	<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">

			To update your email preferences or unsubscribe, click <a href="http://votezilla.news/emailPreference/?autoLoginEmail=">here</a><br>

		A Smith Games LLC | 722 NE Elida Dr | Grants Pass | OR | 97526-3559
	</div>
</div>

</body></html>