{{ define "body" }}

<div style="width: 100%; max-width:640px; text-align:center;">
	{{ $firstArticle := index .Polls 0 }}

	<a href="{{$firstArticle.Url}}"> <!-- Note: using $article.Url is valid as long as this is a poll.  Not valid for articles. -->
		<img src='https://votezilla.news/static/votezilla-logo/votezilla-6-email.png' alt="" style="display:block; width: 80%; max-width: 512px; margin: 0 auto;" >
	</a>
<!--
	<br>
	<div style="align:left; font-size:20px;">With unprecedented closures and rapidly delining profits due to Covid-19 lockdowns, as well as pressure from streaming services, will movie theaters survive?</div>
	<br>
-->
	{{ range $_, $article := .Polls }}
		<table width="100%">
			<tr>
				<td align="center" style="width: auto;">
					<center>
						<h5 style="font-size: 28px; color: white; background-color: #0072ff; padding: 20px 0px; font-family: Arial, Helvetica, sans-serif; margin: 0px;">
							<a href="{{$article.Url}}" style="color: inherit; text-decoration: inherit;">
								{{$article.Title}}
							</a>
						</h5>
					</center>
				</td>
			</tr>
		</table>

		<a href="{{$article.Url}}">
			<img src="{{$article.UrlToImage}}" style="width: 240px; border-radius: 8px;" alt="">
		</a>

		<a href="{{$article.Url}}" style="color: inherit; text-decoration: inherit;">
			<div style="
					background-color:#f1f1f1;
					border:solid 0px red;
					border:solid 1px #898888;
					font-family:'Trebuchet MS';
					margin:5px auto;
					width:100%;
			">
				<div style="
						background-color:red;
						background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(255,0,0,1) 100%) !important;
						border-radius:10px;
						border: 1px solid #fff !important;
						color:white;
						font-size:32px;
						font-weight:bold;
						margin:15px auto;
						padding:10px;
						text-align:center;
						width:250px;
				">
					VOTE NOW!
				</div>
			</div>
		</a>
		<br>
		<br>
		<!-- Sheeple -->
		<div style="
			background-color:white;
			border:solid 0px red;
			border:solid 1px #898888;
			font-family:'Trebuchet MS';
			margin:0 auto;
			margin-top: 0px;
			width:100%;
			max-width:400px;
			">
			<div style="text-align:left; color: #50abe4; margin: 5px;">
				Sponsored
			</div>
		<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">
			The best gift ewe can give for the holidays is quality time together. &nbsp;Enjoy it with Sheeple!
			<br><br><i>Enjoy <b>20% off</b>, NOW until Cyber Monday!</i>
		</div>
		<a href="http://bit.ly/SheePLe">
				<img src="http://votezilla.news/static/sheeple/X2.jpg" style="width: 400px;" alt="">
		</a>

		<div style="
					background-color:#f1f1f1;
					font-family:'Trebuchet MS';
					margin-top: 0px;
					max-width:400px;
					">

			<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; margin: 10px; display:inline-block; width: 220px; display: table-cell; ">
						  SHEEPLE: Fun Family Party Game for 3-12 Players
			</span>
			<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; width: 230px;">
			  <a href="http://bit.ly/SheePLe">
				<span style="
							background-color: rgb(0,81,255);
							background: linear-gradient(0deg, rgb(0,81,255)  0%, rgb(0,255,255) 100%) !important;
							border-radius:10px;
							border: 1px solid #fff !important;
							color:white;
							display:inline-block;
							font-size:18px;
							font-weight:bold;
							padding:10px;
							text-align:center;
							width:150px;
							height: 10px;
							height: 20px;
							vertical-align: middle;
							width: 150px;
							">
					LEARN MORE
				</span>
			  </a>
			</span>
		</div>
	</div>

	{{ end }}
	<br>
	<br>
	<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">
		{{ if .UnsubscribeLink }}
			To update your email preferences or unsubscribe, click <a href="{{.UnsubscribeLink}}">here</a><br>
		{{ else }}
			To unsubscribe, reply to this email with "UNSUBSCRIBE" as your subject header.<br>
		{{ end }}
		A Smith Games LLC | 722 NE Elida Dr | Grants Pass | OR | 97526-3559
	</div>
</div>

{{ end }}
