FeaturedPoll = {{ .FeaturedPoll }}
Username = {{ .Username }}
Name = {{ .Name }}

<div style="width:100%;max-width:620px;text-align:center">
	<img src="https://ci3.googleusercontent.com/proxy/cGuasHn284LotT29r86veRfU4PhX_dG9R-P2d8uHsjlub4LDGdhnJGFii1y9Q7CrC9fhidMSNEVJISMkHtdV8nRF-f8bXSQ=s0-d-e1-ft#https://www.pollking.com/email/images/pk-header3.png" style="width:93%">
	<div style="width:100%;margin:5px auto;border:solid 0px red;font-family:'Trebuchet MS';border:solid 1px #898888;background-color:#f1f1f1">
	   <img style="width:100%;max-width:610px" src="https://ci4.googleusercontent.com/proxy/AXj5f2Df2vWXqaSnZz3T3McDGu8bma_zaONPAxeOlEnGiHoEBDUCrivnfWYmy2oKwY-S2xfOs5PxyEgNLlcRRL4=s0-d-e1-ft#https://www.pollking.com/pollImages/0B40D8.png">
	   <div style="font-size:32px;padding:10px;width:250px;margin:15px auto;background-color:#febd16;border-radius:10px;color:#4b2367;font-weight:bold;text-align:center;border:solid 1px #4b2367">VOTE NOW!</div>
	   <div style="width:100%;margin:0 auto">
		  <table border="0" cellpadding="0" cellspacing="0">
			 <tbody>
				<tr>
				   <td colspan="2" align="center">
					  <a href="http://emails.pollking.com/view.asp?id=60311&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60311%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNFfxyopaDK8IQjPX2z8CF2OLyB_oQ">
					  <img src="https://ci5.googleusercontent.com/proxy/vd8PKslv1-tvnK3FYB6GMMoDbbO8hlNpibQsKOp6_MzwgfdwBsvz0VL3mK77fmcMXnqSl-VQHrddyYqXpVXwpeWJxiRDic4QJm5EYGP1EegW-AJi0AXuur-6oEakQa5-5JxuhDn3xhGEGVxiDbO3BDgAhRvH=s0-d-e1-ft#http://li.pollking.com/imp?s=749075&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=default" border="0" width="100%" style="width:100%;max-width:620px!important">
					  </a>
				   </td>
				</tr>
				<tr>
				   <td align="left">
					  <a style="display:block;max-width:116px;max-height:15px" href="http://emails.pollking.com/view.asp?id=60312&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60312%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNGYtGPEa-X1U0LtTgp_IXyqqINa1A">
					  <img src="https://ci3.googleusercontent.com/proxy/IrdPCmSAScst2qqVqz08ts38GV4DudfxmWAhHpJ8m9Rdr6V_9f9-sdmpwuhHgXq4qCbxIk-fFI7Nu_CWqAQ9pqNH_70r9cro7Ye9fi9s7w3WeiURXW1w8S28_QGiuIoYAQ2cxWv72scNqolgtF4tgVnj-k0=s0-d-e1-ft#http://li.pollking.com/imp?s=749076&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=static" border="0">
					  </a>
				   </td>
				   <td align="right">
					  <a style="display:block;max-width:19px;max-height:15px" href="http://emails.pollking.com/view.asp?id=60313&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60313%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNHLTGt3QbAUeJ3IzYK5MIqRP9ZPeg">
					  <img src="https://ci3.googleusercontent.com/proxy/VSszJf4r1WYnNp-AdoQMjgN4KFlTyTjaFehhUyOZrR0KNy5xP70RvF5ESQwXmM6xc_xKjDhFgI2grzyZ4-zcbeQRfMHGGv0L-JNP00_ihi6mgH1xUHQRIObndxZPy5c-BxsLLTrg55ikhQDCP-LOMXd12ag=s0-d-e1-ft#http://li.pollking.com/imp?s=749078&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=static" border="0">
					  </a>
				   </td>
				</tr>
			 </tbody>
		  </table>
	   </div>
	   <div style="color:#ffffff;font-size:19px!important;text-align:center;background:#fff">
		  <img src="https://ci5.googleusercontent.com/proxy/aif5to9jmucxlkI060tSo0okfJmPWxytSMg3UdSfVqALBdTz0CcrCwqUW3LahjkFQMSzJqaxnlgDCwmB_IvGfcvoB4wsuunrLg=s0-d-e1-ft#https://www.pollking.com/email/images/email-footer.png" style="width:100%;display:block">
	   </div>
	   <div style="width:100%;margin:0 auto">
		  <table border="0" cellpadding="0" cellspacing="0">
			 <tbody>
				<tr>
				   <td colspan="2">
					  <a href="http://emails.pollking.com/view.asp?id=60314&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60314%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNHJSTAhIcNI1FO4Jl7_6QXbvpdcfg">
					  <img src="https://ci5.googleusercontent.com/proxy/FCJHjcl2c6_kpLeVf1cwAH_cH9Syx4n7pks38r1HJnWv8K7769weSgW-rya5wr6zvQhSFyLXr6eSqorlgnMWG-0g-_fJbc7hZapqDKJ_-fgRjCTa8t8TfAjFiEWRCW6Muz_55j6SGfQVuqHhOoiWRRMXPWI1=s0-d-e1-ft#http://li.pollking.com/imp?s=749079&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=default" border="0" width="100%" style="width:100%;max-width:620px!important">
					  </a>
				   </td>
				</tr>
				<tr>
				   <td align="left">
					  <a style="display:block;max-width:116px;max-height:15px" href="http://emails.pollking.com/view.asp?id=60315&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60315%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNGNM29S_DzusX9uCNnpMoVKX_r0Vw">
					  <img src="https://ci4.googleusercontent.com/proxy/_4146p-Fpytgimg3XT35JlrIGqWQha9tRekOsCwBd8vm0LR-k0nDU6H0kVG4K0o1U3ZFZa4Ssh7LBEillLnYqWTXf38cDUe0QvlHM-Pl7QN49rZh70t90NicY1WjvpOQIT_7Ap0WBsh8vVfpznpW82PPs4U=s0-d-e1-ft#http://li.pollking.com/imp?s=749080&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=static" border="0">
					  </a>
				   </td>
				   <td align="right">
					  <a style="display:block;max-width:19px;max-height:15px" href="http://emails.pollking.com/view.asp?id=60316&amp;d=&amp;u=magicsquare15@gmail.com" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://emails.pollking.com/view.asp?id%3D60316%26d%3D%26u%3Dmagicsquare15@gmail.com&amp;source=gmail&amp;ust=1602123803608000&amp;usg=AFQjCNGWkKAxblbvzMOBNUdcqEep1aFe-w">
					  <img src="https://ci3.googleusercontent.com/proxy/ojzxknM6yCvS5UqnUfvf3QzVgsSzJphwI0Hg5ZsQwn6aRxKtGDK12Q4KR1qXt3Dmwol2UBTax5qzp1ynTwLESuU4_3HAh1waMXrjsX26C7-2AkkKux8cNIid6rKVpAtlM-s4NXAI70y4Z1nyBmOLS4fq_DY=s0-d-e1-ft#http://li.pollking.com/imp?s=749082&amp;li=pollking%7D&amp;e=magicsquare15@gmail.com&amp;p=0B40D8&amp;stpe=static" border="0">
					  </a>
				   </td>
				</tr>
			 </tbody>
		  </table>
	   </div>
	</div>
</div>
