{{ define "LoggedIn" }}
	{{- if $.Username -}}
		true
	{{- else -}}
		false
	{{- end -}}
{{ end }}

{{ define "PostVoteWidget" }}
	{{ $article := . }}
	<td align="left" style="width: 40%;">
		<span class="upvote" id="upvote{{$article.Id}}"
		{{- if eq $article.Size 1 }} style="margin-left: 5px;" {{ end -}}
		>
			<a href="javascript:Vote({{$article.Id}}, true, false)" class="upvote" data-toggle="tooltip" data-placement="top" title="Up vote">&#x25B2;</a>
		</span>
		<a id="votetally{{$article.Id}}">{{$article.VoteTally}}</a>
		<span class="downvote" id="downvote{{$article.Id}}">
			<a href="javascript:Vote({{$article.Id}}, false, false)" class="downvote" data-toggle="tooltip" data-placement="top" title="Down vote">&#x25BC;</a>
		</span>
	</td>
{{ end }}

{{ define "CommentVoteWidget" }}
	{{ $tag := . }}
	<td align="left" style="width: 40%;">
		<span class="upvote" id="upvoteComment{{$tag.Id}}">
			<a href="javascript:Vote({{$tag.Id}}, true, true)" class="upvote" style="font-size: 18px;" data-toggle="tooltip" data-placement="top" title="Up vote">&#x25B2;</a>
		</span>
		<a id="votetallyComment{{$tag.Id}}">{{$tag.VoteTally}}</a>
		<span class="downvote" id="downvoteComment{{$tag.Id}}">
			<a href="javascript:Vote({{$tag.Id}}, false, true)" class="downvote" style="font-size: 18px;" data-toggle="tooltip" data-placement="top" title="Down vote">&#x25BC;</a>
		</span>
	</td>
{{ end }}

{{define "CommentWidget"}}
	{{ $article := . }}
	<td align="right" style="width: 60%;">
		<span style="float: right; vertical-align: text-bottom; padding-right: 5px;">
			<a href="/article/?postId={{$article.Id}}#commentsTarget"
			   data-toggle="tooltip" title="Join the discussion!"
			{{ if not (and $article.IsPoll $article.WeVoted) }}
			   style="color: rgb(0, 114, 255);"
			{{ end }}
			>
				<!--<i class='far fa-comment'></i>-->
				{{ $article.NumComments }}
				Comment{{if ne $article.NumComments 1}}s{{end}}
			</a>
		</span>
	</td>
<!--	<td align="right" style="width: 40%;">
		<span style="float: right; vertical-align: text-bottom; padding-right: 5px;">
			<a href="/article/?postId={{$article.Id}}#commentsTarget"
			   data-toggle="tooltip" title="Join the discussion!"
			   style="font-size: 20px; color: rgb(0, 114, 255);">
				<img src="/static/comment icon 3.jpg" width=18 height=18 style="vertical-align: middle;">
				{{$article.NumComments}}
			</a>
		</span>
	</td>-->
{{end}}

{{ define "VoteOnPollHandler" }}
	{{- $article := . -}}
	{{- $poll := $article.PollOptionData -}}
	onClick="VoteOnPoll(
		{{- $article.Id }},
		{{- $poll.Options }},
		{{- if $poll.RankedChoiceVoting }}
			{{- "text" }},
		{{- else if $poll.CanSelectMultipleOptions }}
			{{- "checkbox" }},
		{{- else }}
			{{- "radio" }},
		{{- end -}}
		{{- if eq $article.Size 2 }}
			{{- "_self" }}
		{{- else }}
			{{- "_blank" }}
		{{- end }}
	)"
{{ end }}

{{ define "PollTallyResults" }}
	{{- $pollTallyInfo := . -}}
	{{- $pollTallyResults := $pollTallyInfo.Stats -}}
	{{- $article := (call $pollTallyInfo.GetArticle) -}}
	{{- $poll := $article.PollOptionData -}}

	{{- $maxOptions := 0 }}
	{{- if eq $article.Size 2 }}     {{/*FULLPAGE ARTICLE*/}}
		{{- $maxOptions = 999999 }}
	{{- else }}						 {{/*HEADLINE OR NORMAL ARTICLE SIZE*/}}
		{{- $maxOptions = 12 }}
	{{ end }}

	<!--<ul>-->
	<!--	<li> $poll.Options = {{ $poll.Options }}-->
	<!--	<li> $pollTallyInfo = {{ $pollTallyInfo }}-->
	<!--</ul>-->
	{{ if $pollTallyInfo.Header }}
		<tr><td colspan=5>
			<h6><b>{{$pollTallyInfo.Header}}</b></h6>
			<br>
		</td></tr>
	{{ end }}
	{{ range $o, $option := $poll.Options }}
		{{ if and (lt $o $maxOptions) }}
			{{ if (not (index $pollTallyResults $o).Skip) }}
				{{ $percentage := printf "%.0f%%" (index $pollTallyResults $o).Percentage }}
				<tr>
					{{ if or (lt $article.LongestItem 20) (eq $article.Size 2) }}
						<td style="min-width: 40%; max-width: 70%;
								   word-break: break-word;
								   -ms-word-break: break-all;
								   vertical-align: top;">
							{{ $option }} {{/*(call $article.Ellipsify $option 42)*/}}
						</td>
						<td width=5% align=right style="padding-right: 5px;">{{(index $pollTallyResults $o).Count}}</td>
						<td width=35% nowrap>
							<div class="w3-border" style="position:relative">
								<div class="w3-grey" style="height:24px; width:{{$percentage}}"></div>
							</div>
						</td>
						<td width=5% style="padding-left: 5px; padding-right: 5px;">{{$percentage}}</td>
						<td width=5%>{{ if (index $article.VoteData $o) }}<img width=24 height=24 src="/static/reddit checkbox.png">{{ end }}</td>
					{{ else }} {{/* If there's a long item, uses compact layout with fewer columns. */}}
						<td style="width: 90%;
								   word-break: break-word;
								   -ms-word-break: break-all;
								   vertical-align: top;">
							{{ $option }} {{/*(call $article.Ellipsify $option 42)*/}}
						</td>
						<td width=5% style="padding-left: 5px; padding-right: 5px;">{{$percentage}}</td>
						<td width=5%>{{ if (index $article.VoteData $o) }}<img width=24 height=24 src="/static/reddit checkbox.png">{{ end }}</td>
					{{ end }}
				</tr>
			{{ end }}
		{{ else if eq $o $maxOptions }}
			<tr><td colspan=5>
				<table width=100%>
					<tr>
						<td align=left>
							<a href="/viewPollResults/?postId={{ $article.Id }}" style="font-size: 18px; color: #0072ff; margin-left: 0px;">
								More...
							</a>
						</td>
						<td align=right>
							<label class="vote">
								<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="/*color: #0072ff;*/ font-size: 18px;">
									Change your vote?
								</a>
							</label>
						</td>
				</table>
			</td></tr>
		{{ end }}
	{{ end }}
	<tr><td colspan=5>
		<b>{{$pollTallyInfo.Footer}}</b>
	</td></tr>
	{{ if le (len $poll.Options) $maxOptions }}
		<tr><td colspan=5>
			<table width=100%>
				<tr>
					<td align=right>
						<label class="vote">
							<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="/*color: #0072ff;*/ font-size: 18px;">
								Change your vote?
							</a>
						</label>
					</td>
				</tr>
			</table>
		</tr>
	{{ end }}
{{ end }}

{{ define "PollInlineForm" }}
	{{- $article := . -}}
	{{- if $article.IsPoll -}}
		{{- $maxOptions := 0 }}
		{{- if eq $article.Size 1 }} {{/*LARGE ARTICLE SIZE*/}}
			{{- $maxOptions = 12 }}
		{{- else }}
			{{- $maxOptions = 12 }}   {{/*SMALL ARTICLE SIZE*/}}
		{{ end }}
		{{ if $article.WeVoted }}
			<table width=100% style="margin-left: 0px;">
				<tr></tr>
				{{ template "PollTallyResults" $article.PollTallyInfo }}
			</table>
		{{ else }}
			{{/*$article.Id*/}}
			{{- $poll := $article.PollOptionData }}
			{{ if $poll.RankedChoiceVoting }}
				<div>
					<div style="width: 100%; padding-left: 5px;">
						<i>Ranked Vote: 1 = 1st choice, 2 = 2nd choice, etc.</i>
					</div>
				</div>
			{{ end }}
			<div valign="top">
				<div style="width: 100%;">
					<div width="100%">
						<div>
							<div align="left">
								{{ range $o, $option := $poll.Options }}
									{{ if lt $o $maxOptions }}
										{{ if $poll.RankedChoiceVoting }}
											<label class="vote2">
												<input id="vote_{{$article.Id}}_{{$o}}" type="digit" class="rankedVote" value="" size="1" maxlength="1">
												{{$option}}
											</label>
										{{ else if $poll.CanSelectMultipleOptions }}
											<label class="vote2">
												<input id="vote_{{$article.Id}}_{{$o}}" type="checkbox" class="vote" value="{{$o}}">
												{{$option}}
											</label>
										{{ else }}
											<label class="radio-inline vote" style="cursor: pointer">
												<input class="vote2" id="vote_{{$article.Id}}_{{$o}}" type="radio"
													   name="vote_{{$article.Id}}" {{ if eq $o -1 }} checked {{ end }}>
												{{$option}}
											</label>
										{{ end }}
										<br>
									{{ else if eq $o $maxOptions }}
										<label class="vote">
											<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
												More options...
											</a>
										</label>
										<br>
									{{ end }}
								{{ end }}

								{{ if and $poll.AnyoneCanAddOptions (le (len $poll.Options) $maxOptions) }}
									<label class="vote">
										<a href="/article/?postId={{$article.Id}}&addOption=1#vote_NewOption0" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
											Add option...
										</a>
										<br>
									</label>
								{{ end }}

								<div style="padding-left: 5px;">
									<button type="submit" class="btn btn-vote btn-sm" style="margin: .5rem 0;" {{template "VoteOnPollHandler" $article}}>Vote!</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{ end }}
	{{ end }}
{{ end }}

{{ define "PollForm" }}
	{{- $article := . -}}
	{{- if $article.IsPoll -}}
		{{- $poll := $article.PollOptionData }}
		<table width="100%">
			{{ if $poll.RankedChoiceVoting }}
				<tr><td align="left">
					<span class="rankedVoteIntro">
						Ranked Vote: 1 = 1st choice, 2 = 2nd choice, etc.
					</span>
					<br>
				</td></tr>
			{{ end }}
			<tr><td align="left">
				{{ range $o, $option := $poll.Options }}
					{{ if $poll.RankedChoiceVoting }}
						<div>
							<label>
								<input id="vote_{{$article.Id}}_{{$o}}" type="digit" value="" size="1"
									   maxlength="1" style="width: 25px; padding: 5px; margin: 4px 4px 4px 0;">
								{{$option}}
							</label>
						</div>
					{{ else if $poll.CanSelectMultipleOptions }}
						<div>
							<label class="vote">
								<input id="vote_{{$article.Id}}_{{$o}}" type="checkbox" class="vote"
									   value="{{$o}}" style="margin: 6px;">
								{{$option}}
							</label>
						</div>
					{{ else }}
						<div>
							<label class="vote" style="margin-bottom: 0">
								<input id="vote_{{$article.Id}}_{{$o}}" type="radio" class="vote"
									   name="vote_{{$article.Id}}" {{ if eq $o -1 }} checked {{ end }}
									   style="margin: 8px;">
								{{$option}}
							</label>
						</div>
					{{ end }}
				{{ end }}

				{{ if $poll.AnyoneCanAddOptions }}
					<div id="addOptionLink">
						<label class="vote" style="margin: 0px;">
							<a href="javascript:addOption({{$article.Id}})" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
								Add option...
							</a>
							<br>
						</label>
					</div>
				{{ end }}

				{{- $poll := $article.PollOptionData }}

				<input name="vote_{{ $article.Id }}_len" type=hidden value="{{ len $poll.Options }}">

				<button type="submit" class="btn btn-vote" style="margin: 1rem 0;" {{template "VoteOnPollHandler" $article}}>Vote!</button>
			</td></tr>
		</table>
		<!--<tr class="spacer" style="height:10px"></tr>-->
	{{ end }}
{{ end }}
{{ define "BackToCategory" }}
	<table width="100%"><tr>
		<td align="left" style="width: 10%">
			<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
				<a href="/news/?category={{.}}" style="color: #003980; font-size: 20px;">
					<i class="fa fa-caret-left" style="font-size:36px; vertical-align:middle;"></i>
					{{ . }}
				</a>
			</span>
		</td>
		<td align="right" style="width: 10%">
			<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
				<a href="/news" style="color: #003980; font-size:28px; vertical-align:middle;">
				  <h5 style="color: #003980; margin: 5px;">
					<i class="fa fa-times" aria-hidden="true" style="font-size:36px; vertical-align:middle;"></i>
				  </h5>
				</a>
			</span>
		</td>
	</table>
{{ end }}


{{ define "UserTag" }}
	{{ $article := . }}
	<a href="/history/?username={{$article.Author}}" class="userTag">
		<span><img src="{{$article.AuthorIconUrl}}" width=16 height=16></span>
		<span style="color: #88f">{{$article.Author}}</span></a>
{{ end }}

{{ define "UserTagL" }}
	{{ $article := . }}
	<a href="/history/?username={{$article.Author}}" class="userTag">
		<span><img src="{{$article.AuthorIconUrl}}" width=24 height=24></span>
		<span style="color: #88f; font-size: 18px;">{{$article.Author}}</span></a>
{{ end }}

{{ define "CommentUserTag" }}
	{{ $comment := . }}
	<a href="/history?username={{$comment.Username}}" class="userTag">
		<span><img src="/static/dino-head-24x24.png" width=16 height=16></span>
		<span style="color: #88f;">{{$comment.Username}}</span></a>
{{ end }}

{{ define "UserTagMainMenu" }}
	<a href="/history">
		<span class="desktop_only">
			<img src="/static/dino-head-48x48.png" width=24 height=24>
		</span>
		{{.}}</a>
{{ end }}

{{ define "UserTagMainMenuSel" }}
	<a href="/history">
		<span class="desktop_only">
			<img src="/static/dino-head-48x48.png" width=24 height=24>
		</span>
		<span style="color: #0072ff;">
			{{.}}
		<span>
	</a>
{{ end }}

{{ define "UserTagHistory" }}
	{{.}}
{{ end }}