<b>Forgot Password</b>
<br><br>
<form method="post" action="/postForgotPassword">
	<table border="0">
		<tr>
			<td>username:</td>
			<td><input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true"></td>
		</tr>
		<tr>
			<td>password:</td>
			<td><input type="password" name="password" size="20"></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="login">
</form>
<a href="forgotPassword">Forgot your password?</a><br><br>