{{define "body"}}

<script>
loggedIn = {{ if .Username }} true {{ else }} false {{ end }} ;

var votedPosts = [[], []];

function removeItem(arr, item) {
	var index = arr.indexOf(item);
	if (index > -1) {
	    arr.splice(index, 1);
	}
}

///////////////////////////////////////////////////////////////////////////////
//
// VOTING FUNCTIONS
//
///////////////////////////////////////////////////////////////////////////////

// Whether an upvote or down with this id is enabled.
function hasVote(id, up) {
	return votedPosts[up ? 1 : 0].includes(id)
}

// Add or remove the voting state.  Also updates the vote tally text.
function addOrRemoveVoteState(id, add, up) {
	if (add) {
		votedPosts[up ? 1 : 0].push(id)

	} else { // remove
		removeItem(votedPosts[up ? 1 : 0], id)
	}
}

// Increment or decrement vote tally text.
function incVoteLabel(id, voteInc) {
	label = $("#votetally" + id)
	count = parseInt(label.text())
	label.text(count + voteInc)
}

// Add or remove a vote via state, CSS, and updating of database via AJAX.
function addOrRemoveVote(id, add, up, updateDatabase, updateText) {
	// state
	addOrRemoveVoteState(id, add, up)

	// glowing arrow CSS
	if (add) {
		if (up) {
			$("#upvote" + id).addClass("upvoted")
		} else {
			$("#downvote" + id).addClass("downvoted")
		}
	} else { // remove
		if (up) {
			$("#upvote" + id).removeClass("upvoted")
		} else {
			$("#downvote" + id).removeClass("downvoted")
		}
	}

	// vote tally text
	if (updateText) {
		incVoteLabel(id, (add && up || !add && !up) ? 1 : -1)
	}

	// AJAX - database state
	if (updateDatabase) {
		$.ajax({
			url: '/ajaxVote/',
			type: "post",
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({ PostId: id, UserId: {{.UserId}}, Add: add, Up: up}), // Hmmm <-- should be UserId not Username
			dataType: 'json',
			success: function(r) { console.log("AJAX - success"); },
			error:   function(r) { console.log("AJAX - error"); }
		});
	}
}

// Cancel an up or down vote
function cancelVote(id, up) {
	if (hasVote(id, up)) {
		addOrRemoveVote(id, false, up, false, true) // cancel
	}
}

// Toggle an up or down vote
// (Only toggleVote should send the AJAX, otherwise there will be a race condition in updating the database.)
function toggleVote(id, up) {
	if (hasVote(id, up)) {
		addOrRemoveVote(id, false, up, true, true) // cancel.
	} else {
		addOrRemoveVote(id, true,  up, true, true) // enable
	}
}

// Vote up or down on a post.  Or if already voted, cancels the vote.
// id: postId
// up: true for up, false for down
function Vote(id, up) {
	if (loggedIn) {
		cancelVote(id, !up) // cancel opposite type of vote
		toggleVote(id, up)  // toggle this type of vote
	} else {
		alert("You must be logged in to do that!")
	}
}

$(function() {
    {{ range $_, $id := $.UpVotes}}
    	addOrRemoveVote({{$id}}, true, true, false, false)  // Add a upvote presentation, but do not update the database.
    {{ end }}
    {{ range $_, $id := $.DownVotes}}
	    addOrRemoveVote({{$id}}, true, false, false, false) // Add a downvote presentation, but do not update the database.
    {{ end }}
});
</script>

<div class="smart-padding container vz-container">
	<div class="row vz-row">
		<div class="col-md-12 vz-col-md-12">
			<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f6f6ef">
				<tr><td bgcolor="#ff6600">
					<a href="news"><h1 style="text-align:center; margin: 0px;"><b>votezilla</b></h1></a>
				</td></tr>
				<tr><td bgcolor="#ff6600">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
						<tr>
							<td style="width:18px; padding-right:4px">
								<a href="http://www.ycombinator.com">
									<img src="/static/y18.gif" width="18" height="18" style="border:1px white solid;">
								</a>
							</td>
							<td style="line-height:12pt; height:10px;">
								<span class="pagetop">
									<b class="hnname">
										<a href="news">votezilla</a>
									</b>
								{{- range $i, $navItem := .NavMenu}}
									{{- if ne $i 0 }} | {{end -}}
									{{- if eq $navItem $.UrlPath}}<span class="topsel">{{end -}}
									<a href="/{{$navItem}}">{{$navItem}}</a>
									{{- if eq $navItem $.UrlPath}}</span>{{end -}}
								{{end -}}
								</span>
							</td>
							<td style="text-align:center;">
								<a href="/news/?noHeadlines=1">no headlines</a>
							<td style="text-align:right; padding-right:4px;">
								<span class="pagetop">
									{{- if .Username }}
										<a href="/user?id={{.Username}}">{{.Username}}</a> | <a href="/logout">logout</a>
									{{- else -}}
										<a href="/login">login</a> / <a href="/register">register</a>
									{{end -}}
								</span>
							</td>
						</tr>
					</table>
				</td></tr>
			</table>
		</div> {{/*col-md-12*/}}
	</div> {{/*row*/}}

	{{ template "content" . }}

</div> {{/*smart-padding container vz-container*/}}

{{end}} {{/*body*/}}