{{define "body"}}

<style>
figure {
	position: relative;
}

.update {
	position: absolute;
	color: white;
	background-color: red;
	font-size: 18px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	font-weight: 900;
	vertical-align:	center;
}

@media screen and (min-width:525px) { /* wide screens - desktop */
	.vz-nav-icon{
		font-size: 48px;
		min-height: 54px;
		vertical-align: middle;
	}
	.vz-in-circle {
		position: absolute;
		top: 11.5px;
		left: 16.5px;
		color: white;
		font-size: 24px;
	}
	.vz-nav-table{
		font-size: 20px;
	}
	.vz-nav-td{
		line-height:20px;
		height:		10px;
		padding: 	0px 5px;
		color:		white !important;
	}
	.vz-nav-span{
		line-height:20px;
		float:		left;
		padding: 	5px 10px;
	}
	.vz-logo-circle{
		width:       46px;
		height:      46px;
		line-height: 46px;
	}
	.vz-logo-circle span{
		font-size: 28px;
	}
	.vz-nav-dino-head{
		width:		 48px;
		height:		 48px;
	}
	.vz-nav-dino-text{
		max-width:		20vw;
		word-break: 	break-all;
		-ms-word-break: break-all;
		vertical-align: top;
		display:		block;
	}
	.update-news {
		top: 			0.5px;
		right: 			0.5px;
	}
	.update-activity {
		top: 			0.5px;
		right: 			16.5px;
	}
}
@media screen and (max-width:525px) { /* narrow screens - mobile */
	.vz-nav-icon{
		font-size: 		13.5vw;
		min-height: 	54px;/*15.3vw;*/
		vertical-align: middle;
	}
	.vz-in-circle {
		position: absolute;
		top: 3.8vw;
		left: 3.4vw;
		color: white;
		font-size: 6.6vw;
	}
	.vz-nav-table{
		font-size: 		min(20px, 4.4vw);
		text-overflow:	ellipsis;
	}
	.vz-nav-td{
		line-height:	20px;
		height:			10px;
		padding: 		0px;/*0 .15vw;*/
		color:			white !important;
	}
	.vz-nav-span{
		line-height:	21px;
		float:			left;
		padding: 		1.2vw 1.8vw;
	}
	.vz-circle-container{
		min-height: 	54px;
		vertical-align:	center;
		padding-top: 	3px;
	}
	.vz-logo-circle{
		width:       	12.5vw;
		height:      	12.5vw;
		line-height: 	12.5vw;
	}
	.vz-logo-circle span{
		font-size:	 	6vw;
	}
	.vz-nav-dino-head{
		width:			13.5vw;
		height:			13.5vw;
	}
	.vz-nav-dino-text{
		max-width:		max(60.2px, 15.4vw);
		word-break: 	break-all;
		-ms-word-break: break-all;
		vertical-align: top;
		display:		block;
	}
	.update {
		font-size: 		4vw;
		width: 			5.5vw;
		height: 		5.5vw;
	}
	.update-news {
		top: 			0.14vw;
		right: 			-1.0vw;
	}
	.update-activity {
		top: 			0.14vw;
		right: 			1.6vw;
	}
}

figcaption {
    vertical-align: top;
}

.vz-logo-circle{
	border-radius:50%;
	box-sizing:border-box;
	text-align:center;
	display:inline-block;
	/*background-color:#000;*/
	position: relative;

	font-family:Verdana, Geneva, sans-serif;
	background-color:#222222;
}
.vz-logo-circle:hover, .circle:focus {
	background-color:#0072ff;
}

.vz-logo-circle span{
	text-decoration:none;
	color:#fff;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
}

.serif {
	font-family: "Times New Roman", Times, serif;
}
.vz_test {
	background-color:rgb(255, 37, 58);
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	display:block;
	font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size:70px;
	font-weight:400;
	height:105px;
	line-height:70px;
	max-width:350px;
	min-width:105px;
	overflow-x:hidden;
	overflow-y:hidden;
	padding-bottom:17.5px;
	padding-left:17.5px;
	padding-right:17.5px;
	padding-top:17.5px;
	position:absolute;
	right:0px;
	text-align:center;
	text-overflow:ellipsis;
	text-size-adjust:100%;
	top:0px;
}
</style>

<script>
// Global variables:
var numNewOptions = 0; // Also used by addOption() in article.html
</script>

{{ template "beginFrame" . }}
	{{/* Header w/ banner + nav menu. */}}
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f6f6ef">
		<!-- votezilla logo -->
		<tr><td bgcolor="#ff6600">
			<div width=100% style="background-color:white">
				<a href='/news'>
					<img src='/static/votezilla logo/votezilla 6.jpg' class="center" style="max-width:100%">
				</a>
			</div>
		</td></tr>

		<tr><td bgcolor=white>
			<table class='vz-nav-table' border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:4px;">
				<tr>
					<td class='vz-nav-td'>
						<span class="pagetop">

						<!-- nav menu -->
						{{- range $i, $navItem := .NavMenu}}
							{{- if ne $i 0 }}<!-- | -->{{end -}}
							<span class='vz-nav-span'>
								<a href=
									{{- if eq $navItem "about" }}
										"/news?category=votezilla"
									{{- else if and (eq $navItem "history") (not $.Username) }}
										"/login"
									{{- else if and (eq $navItem "create") (not $.Username) }}
										"javascript:alert('You must be logged in to do that!')"
									{{- else }}
										"/{{$navItem}}"
									{{- end }}
									style="color: {{- if eq $navItem $.UrlPath}}#0072ff{{else}}black{{end}};">
									<figure style="text-align: center;">
										{{- if eq $navItem "news" }}
											<i class="far fa-newspaper vz-nav-icon">
												{{ if gt $.NumNewsUpdates 0 }}
													<span class='update update-news'>{{ $.NumNewsUpdates }}</span>
												{{ end }}
											</i>
										{{- else if eq $navItem "create" }}
											<i class="fas fa-pencil-alt vz-nav-icon"></i>
										{{- else if eq $navItem "activity" }}
											<i class='fas fa-bell vz-nav-icon'>
												{{ if gt $.NumActivityUpdates 0 }}
													<span class='update update-activity'>{{ $.NumActivityUpdates }}</span>
												{{ end }}
											</i>
										{{- else if eq $navItem "about" }}
											<i class='fa fa-circle vz-nav-icon' aria-hidden="true"></i>
												<span class='vz-in-circle'>vz</span>
										{{- else if eq $navItem "history" }}
											{{- if $.Username }}
												<div style="min-height: 54px; vertical-align:center;">
													<img src="/static/dino-head-160x96.png" class='vz-nav-dino-head'>
												</div>
										  	{{- else }}
										  		<i class="fas fa-sign-in-alt vz-nav-icon"></i>
											{{- end -}}
										{{- end }}
										<figcaption style="size: 4vw;">
											{{- if eq $navItem "news" }}
												news /<br>polls
											{{- else if eq $navItem "activity" }}
												updates
											{{- else if eq $navItem "create" }}
												share /<br>create
											{{- else if eq $navItem "history" }}
												{{- if $.Username }}
													<span class='vz-nav-dino-text'>
														{{ $.Username }}
													</span>
												{{- else }}
													log in /<br> sign up
												{{- end -}}
											{{- else }}
												{{ $navItem }}
											{{- end }}
										</figcaption>
									</figure>
								</a>
							</span>
						{{end -}}
						</span>
					</td>
				</tr>
			</table>
		</td></tr>
	</table>

<!-- TUTORIAL POP-UP WINDOW:
	<a data-target="#myModal" data-toggle="modal" data-path="tutorial" data-title="Log In" style="cursor:pointer">
		tutorial
	</a>
<div style=" display: table; width: 100%; table-layout: fixed;">
  <div style="display:table-cell; width: 20%; background-color: red">B</div>
  <div style="display:table-cell; width: 20%; background-color: yellow">B</div>
  <div style="display:table-cell; width: 20%; background-color: red">B</div>
  <div style="display:table-cell; width: 20%; background-color: yellow">B</div>
  <div style="display:table-cell; width: 20%; background-color: red">B</div>
</div>-->

	{{ template "content" . }}
{{ template "endFrame" . }}

<!-- Modal popup body -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#edf0f5">
				<h1 class="modal-title" id="myModalLabel" style="align:center;">
					Sign Up
				</h1>
				<button type="button" class="btn btn-default" data-dismiss="modal"
						style="font-size: 40px; padding: 0; position:absolute; right:20px; cursor: pointer !important; border-radius: 2rem; background-color:#edf0f5;">
					&times;
				</button>
			</div>

			<div class="modal-body" style="background-color:white"></div><!--#edf0f5-->
		</div>
	</div>
</div>

<script>

///////////////////////////////////////////////////////////////////////////////
//
// ALERT
//
///////////////////////////////////////////////////////////////////////////////
$(document).ready(function() {
	{{ if      eq .PageArgs.Script "LoggedIn"}}		 		alert('You are now logged in :)');
	{{ else if eq .PageArgs.Script "LoggedOut"}}			alert('You are now logged out.');
	{{ else if eq .PageArgs.Script "AccountCreated"}}		alert('Your account has been created, good work!');
	{{ else if eq .PageArgs.Script "WelcomeToVotezilla"}}	alert('Welcome to Votezilla!!!');
	{{ else if eq .PageArgs.Script "SubmittedLink"}}		alert('Your link has been created, and will appear shortly.');
	{{ else if eq .PageArgs.Script "SubmittedPoll"}}		alert('Your poll has been created, and will appear shortly.');
	{{ else if eq .PageArgs.Script "InvalidCategory"}}		alert('Invalid category; displaying all news posts.');
	{{ else if    .PageArgs.Script }}				    	alert('Error: {{.PageArgs.Script}}');
	{{ end }}
});

///////////////////////////////////////////////////////////////////////////////
//
// MODAL POPUP VOTING
//
///////////////////////////////////////////////////////////////////////////////

// Modal popup handler
$('#myModal').on('show.bs.modal', function(e) {
	var rt = $(e.relatedTarget);

	var path = rt.data('path');

	console.log("Modal path = " + path);

	if (path == null) {
		alert("Modal's data-path parameter is null.");
		return;
	}

	var title = rt.data('title');
	console.log("Modal title = " + title);
	$('.modal-title').text(title);

	// Allow custom modal popup behavior.
	if (window[path + "_Modal"] != null) {
		console.log("Executing custom modal popup behavior.");
		window[path + "_Modal"](rt);  // This calls a custom modal handler, i.e. viewPollResults_Modal(rt).
		return;
	}

	console.log(`About to perform load of /${path}/`)
	$('.modal-body').load(`/${path}/`, function(response, status, xhr) { // works, now also testing...
		if ( status == "error" ) {
   			var msg = "Sorry but there was a load error: " + xhr.statusText;
			alert(msg);
			console.log(msg);
			return;
  		}


		console.log('Load was performed');

		var modal = $('.modal')

		if (modal) {
			console.log("Showing modal");
			modal.modal({show: true});
		} else {
			console.log("Not showing modal!!!!!");
		}
	});
});

///////////////////////////////////////////////////////////////////////////////
//
// POST VOTING
//
///////////////////////////////////////////////////////////////////////////////
var votedPosts = [[[], []], [[], []]];

function removeItem(arr, item) {
	var index = arr.indexOf(item);
	if (index > -1) {
	    arr.splice(index, 1);
	}
}

// Whether an upvote or down with this id is enabled.
function hasVote(id, up, bcomment) {
	return votedPosts[up ? 1 : 0][bcomment ? 1 : 0].includes(id)
}

// Add or remove the voting state.  Also updates the vote tally text.
function addOrRemoveVoteState(id, add, up, bcomment) {
	if (add) {
		votedPosts[up ? 1 : 0][bcomment ? 1 : 0].push(id)

	} else { // remove
		removeItem(votedPosts[up ? 1 : 0][bcomment ? 1 : 0], id)
	}
}

// Increment or decrement vote tally text.
function incVoteLabel(id, bcomment, voteInc) {
	if (bcomment) {
		label = $("#votetallyComment" + id)
	} else {
		label = $("#votetally" + id)
	}
	count = parseInt(label.text())
	label.text(count + voteInc)
}

// Add or remove a vote via state, CSS, and updating of database via AJAX.
function addOrRemoveVote(id, add, up, bcomment, updateDatabase, updateText) {
	// state
	addOrRemoveVoteState(id, add, up, bcomment)

	// glowing arrow CSS
	if (bcomment) {
		if (add) {
			if (up) {
				$("#upvoteComment" + id).addClass("upvoted")
			} else {
				$("#downvoteComment" + id).addClass("downvoted")
			}
		} else { // remove
			if (up) {
				$("#upvoteComment" + id).removeClass("upvoted")
			} else {
				$("#downvoteComment" + id).removeClass("downvoted")
			}
		}
	} else {
		if (add) {
			if (up) {
				$("#upvote" + id).addClass("upvoted")
			} else {
				$("#downvote" + id).addClass("downvoted")
			}
		} else { // remove
			if (up) {
				$("#upvote" + id).removeClass("upvoted")
			} else {
				$("#downvote" + id).removeClass("downvoted")
			}
		}
	}

	// vote tally text
	if (updateText) {
		incVoteLabel(id, bcomment, (add && up || !add && !up) ? 1 : -1)
	}

	// AJAX - database state
	if (updateDatabase) {
		$.ajax({
			url: '/ajaxVote/',
			type: "post",
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({PostId: id, Add: add, Up: up, IsComment: bcomment}), // Hmmm <-- should be UserId not Username
			dataType: 'json',
			success: function(r) { console.log("AJAX - success"); },
			error:   function(r) { console.log("AJAX - error"); }
		});
	}
}

// Cancel an up or down vote
function cancelVote(id, up, bcomment) {
	if (hasVote(id, up, bcomment)) {
		addOrRemoveVote(id, false, up, bcomment, false, true) // cancel
	}
}

// Toggle an up or down vote
// (Only toggleVote should send the AJAX, otherwise there will be a race condition in updating the database.)
function toggleVote(id, up, bcomment) {
	if (hasVote(id, up, bcomment)) {
		addOrRemoveVote(id, false, up, bcomment, true, true) // cancel.
	} else {
		addOrRemoveVote(id, true,  up, bcomment, true, true) // enable
	}
}

// Vote up or down on a post.  Or if already voted, cancels the vote.
// id: postId
// up: true for up, false for down
function Vote(id, up, bcomment) {
	if ({{ template "LoggedIn" . }}) {
		cancelVote(id, !up, bcomment) // cancel opposite type of vote
		toggleVote(id, up, bcomment)  // toggle this type of vote
	} else {
		alert("You must be logged in to do that!")
	}
}

// On load, set the style for the up/down votes that the user has already voted on.
$(function() {
    {{ range $_, $id := $.UpVotes}}
    	addOrRemoveVote({{$id}}, true, true, false, false, false)  // Add a upvote presentation, but do not update the database.
    {{ end }}
    {{ range $_, $id := $.DownVotes}}
	    addOrRemoveVote({{$id}}, true, false, false, false, false) // Add a downvote presentation, but do not update the database.
    {{ end }}
});


///////////////////////////////////////////////////////////////////////////////
//
// POLL VOTING
//
///////////////////////////////////////////////////////////////////////////////

function ordinal(num) {
	switch(num) {
		case 1: return "1st";
		case 2: return "2nd";
		case 3: return "3rd";
		default: return `${num}th`;
	}
}

function getOptionVal(optionSelector, pollType) {
	optionObj = $(optionSelector);
	switch(pollType) {
		case "radio":
		case "checkbox":
			return optionObj.is(':checked') ? "x" : "";
		case "text":
			var val = optionObj.val();
			// Convert undefined to ''.
			if (!val) {
				val = '';
			}
			return val;
		default:
			console.log("Unhandled poll type AAA: " + pollType);
			alert("Unhandled poll type AAA: " + pollType);
			return null;
	}
}

// Get the vote data from the form - how the user voted on this poll, i.e. what their vote is.
// Has to handle the possibility of new options being dynamically added by the user.
// returns (voteData,    <- the checkbox/radio bool array voteData for the poll: ["x" or ""].
//          newVoteData, <- the checkbox/radio bool array voteData for the new options that the user added: ["x" or ""].
//          newOptions,  <- the new options that have been added by the user.
function getVoteData(pollId, numOptions, pollType) {
	console.log(`getVoteData(${pollId}, ${pollType})`);

	console.log(`numOptions = ${numOptions}`);
	console.log(`numNewOptions = ${numNewOptions}`);

	var voteData = [];
	var newVoteData = [];
	var newOptions = []

	for (var o = 0; o < numOptions; o++) {
		voteData.push(getOptionVal(`#vote_${pollId}_${o}`, pollType));
	}
	for (var o = 0; o < numNewOptions; o++) {
		newVoteData.push(getOptionVal(`#vote_N${o}`, pollType));
		newOptions.push(getOptionVal(`#vote_NewOption${o}`, "text"));
	}
	console.log("voteData = " + voteData);
	console.log("newVoteData = " + newVoteData);
	console.log("newOptions = " + newOptions);

	return [voteData, newVoteData, newOptions];
}

function validateVoteData(pollType, voteData, newVoteData, newOptions, pollOptions) {
	console.log("validataVoteData pollType: " + pollType);
	console.log("                 voteData: " + voteData);
	console.log("                 newVoteData: " + newVoteData);
	console.log("                 newOptions:" + newOptions);
	console.log("                 pollOptions:" + pollOptions);

	for (var i = 0; i < newOptions.length; i++) {
		var newOption = newOptions[i];

		// Because we will filter out options that have empty text, we must make sure those options do not have votes.
		if (newOption == "" && newVoteData[i] != "") {
			alert('You must specify the name of your new option, if you wish to vote on it.');
			return false;
		}

		// Complain if there are new option names that match existing names.
		if (pollOptions.indexOf(newOption) > -1) {
			alert(`The new option you added, "${newOption}," already exists as a poll option.`);
			return false;
		}
	}

	// Complain if there are duplicate new option names.
	for (var i = 0; i < newOptions.length; i++) {
		for (var j = i + 1; j < newOptions.length; j++) {
			if (newOptions[i] == newOptions[j]) {
				alert(`Two of the new options you added have the same name: "${newOptions[i]}."`);
				return false;
			}
		}
	}


	var joinedData = voteData.concat(newVoteData);

	switch(pollType) {
		case "radio":
		case "checkbox": // Multiple choices valid
			valid = joinedData.reduce((a, b) => a || b, false)  // OR all the choices together.
			console.log("valid = " + valid);

			if (!valid) {
				alert(`You must select ${pollType == "checkbox" ? "at least " : ""}one option`);
				return false;
			}

			return true;
		case "text": // Ranked voting
			var sorted = joinedData.filter(x => x != "").sort(); // Sort the non-empty elements

			// Check for valid ranked voting, i.e. "1", "2", ...
			if (sorted[0] != "1") {
				alert('You must mark your 1st choice with a "1"');
				return false;
			}
			var gap = false;
			for (var i = 1; i < sorted.length; i++) {
				if (sorted[i] != (i + 1).toString(10)) {
					alert(`You must mark your ${ordinal(i + 1)} choice with a "${i + 1}" (if you care to pick one).`);
					console.log("return false");
					return false;
				}
			}
			console.log("return true");
			return true;
		default:
			console.log("Unhandled poll type BBB: " + pollType);
			alert("Unhandled poll type BBB: " + pollType);
			return false;
	}
}

function VoteOnPoll(pollId, pollOptions, pollType, windowTarget) {
	var numOptions = pollOptions.length

	if ({{.UserId}} == -1) {
		alert("You must be logged in to do that!");  // TODO: make this a modal that prompts for login / register

		return;
	}

	console.log("pollId = " + pollId);
	console.log("numOptions = " + numOptions);
	console.log("pollType = " + pollType);
	console.log("userId = " + {{.UserId}});

	const [voteData, newVoteData, newOptions] = getVoteData(pollId, numOptions, pollType);

	console.log({PollId: pollId, VoteData: voteData, NewVoteData: newVoteData, NewOptions: newOptions, NumOriginalOptions: numOptions});

	console.log("<< newOptions", newOptions)

	if (validateVoteData(pollType, voteData, newVoteData, newOptions, pollOptions)) { // Check if voting data is valid.
		console.log("valid vote data");
		console.log(">> newOptions", newOptions)

		var jsonData = JSON.stringify({
			PollId: pollId,
			VoteData: voteData,
			NewVoteData: newVoteData,
			NewOptions: newOptions,
			NumOriginalOptions: numOptions});

		console.log('jsonData', jsonData);

		// Place poll vote
		$.ajax({
			url: '/ajaxPollVote/',
			type: "post",
			contentType: 'application/json; charset=utf-8',
			data: jsonData,
			dataType: 'json',
			success: function(r) {
				console.log("AJAX Poll Vote - success");

				console.log(r);

				// Open the View Poll Results in a new tab.
				window.open(`/viewPollResults/?postId=${pollId}`, windowTarget);

				//var windowReference = window.open();

				//myService.getUrl().then(function(url) {
				//     windowReference.location = `/viewPollResults/?postId=${pollId}`;
				//});

				//TODO: https://stackoverflow.com/questions/20696041/window-openurl-blank-not-working-on-imac-safari
			},
			error: function(r) {
				console.log("AJAX Poll Vote - error");

				alert("Vote failed for some reason.");
			}
		});
	} else {
		// Cancel opening the modal
		console.log("invalid vote data");
	}
}

///////////////////////////////////////////////////////////////////////////////
//
// MODALS
//
///////////////////////////////////////////////////////////////////////////////
var triggerModalDataTargetAnchor = "";
//var triggerModalId = "";

function onClick_OpenModalLink(modalDataTargetAnchor) {
	console.log("onClick_OpenModalLink: modalDataTargetAnchor = " + modalDataTargetAnchor);

	triggerModalDataTargetAnchor = modalDataTargetAnchor;
	$('#myModal').modal('hide');
}

// After onClick_OpenModalLink, the window close generates the following callback. */
$('#myModal').on('hidden.bs.modal', function (e) {
	if (triggerModalDataTargetAnchor) {
		$( "#myModal" ).modal( "show", $( "#"+triggerModalDataTargetAnchor ) );  // The caller must define an anchor with id="theTarget".

		triggerModalDataTargetAnchor = "";
	}
})




// TOOLTIP

$(function () {
//  $('[data-toggle="tooltip"]').tooltip()  // Causes a JS error and does not seem necessary for tooltips to work.
})

</script>

{{end}} {{/*body*/}}


///////////////////////////////////////////////////////////////////////////////
//
// UTILITY TEMPLATE FUNCTIONS
//
///////////////////////////////////////////////////////////////////////////////
{{ define "LoggedIn" }}
	{{- if $.Username -}}
		true
	{{- else -}}
		false
	{{- end -}}
{{ end }}


{{ define "PostVoteWidget" }}
	{{ $article := . }}
	<td align="left" style="width: 40%;">
		<span class="upvote" id="upvote{{$article.Id}}"
		{{- if eq $article.Size 1 }} style="margin-left: 5px;" {{ end -}}
		>
			<a href="javascript:Vote({{$article.Id}}, true, false)" class="upvote" data-toggle="tooltip" data-placement="top" title="Up vote">&#x25B2;</a>
		</span>
		<a id="votetally{{$article.Id}}">{{$article.VoteTally}}</a>
		<span class="downvote" id="downvote{{$article.Id}}">
			<a href="javascript:Vote({{$article.Id}}, false, false)" class="downvote" data-toggle="tooltip" data-placement="top" title="Down vote">&#x25BC;</a>
		</span>
<!--
		<span class="upvote" id="upvote{{$article.Id}}">
			<a href="javascript:Vote({{$article.Id}}, true, false)" class="upvote" data-toggle="tooltip" data-placement="top" title="Up vote">
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
			</a>
		</span>
		<a id="votetally{{$article.Id}}">{{$article.VoteTally}}</a><span class="downvote" id="downvote{{$article.Id}}">
			<a href="javascript:Vote({{$article.Id}}, false, false)" class="downvote" data-toggle="tooltip" data-placement="top" title="Down vote">
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
			</a>
		</span>
-->
			<!--<i class="fas fa-thumbs-up" style="font-size:24px; vertical-align:middle;"></i>-->
			<!--<i class="fa fa-angle-up" aria-hidden="true"></i>-->
			<!--<i class="fas fa-thumbs-down" style="font-size:24px; vertical-align:middle;"></i>
			<i class="fas fa-thumbs-down" style="font-size:24px; vertical-align:middle;" data-fa-transform="flip-h"></i>-->
			<!--<i class="fa fa-angle-down" aria-hidden="true"></i>-->

	</td>
{{ end }}

{{ define "CommentVoteWidget" }}
	{{ $tag := . }}
	<td align="left" style="width: 40%;">
		<span class="upvote" id="upvoteComment{{$tag.Id}}">
			<a href="javascript:Vote({{$tag.Id}}, true, true)" class="upvote" style="font-size: 18px;" data-toggle="tooltip" data-placement="top" title="Up vote">&#x25B2;</a>
		</span>
		<a id="votetallyComment{{$tag.Id}}">{{$tag.VoteTally}}</a>
		<span class="downvote" id="downvoteComment{{$tag.Id}}">
			<a href="javascript:Vote({{$tag.Id}}, false, true)" class="downvote" style="font-size: 18px;" data-toggle="tooltip" data-placement="top" title="Down vote">&#x25BC;</a>
		</span>
	</td>
{{ end }}

{{define "CommentWidget"}}
	{{ $article := . }}
	<td align="right" style="width: 60%;">
		<span style="float: right; vertical-align: text-bottom; padding-right: 5px;">
			<a href="/article/?postId={{$article.Id}}#commentsTarget"
			   data-toggle="tooltip" title="Join the discussion!"
			   style="color: rgb(0, 114, 255);">
				<i class='far fa-comment'></i>
				{{ $article.NumComments }}
				{{ if or (eq $article.Size 1) ($article.IsPoll) }}
					 Comment{{if ne $article.NumComments 1}}s{{end}}
				{{ end }}
			</a>
		</span>
	</td>
<!--	<td align="right" style="width: 40%;">
		<span style="float: right; vertical-align: text-bottom; padding-right: 5px;">
			<a href="/article/?postId={{$article.Id}}#commentsTarget"
			   data-toggle="tooltip" title="Join the discussion!"
			   style="font-size: 20px; color: rgb(0, 114, 255);">
				<img src="/static/comment icon 3.jpg" width=18 height=18 style="vertical-align: middle;">
				{{$article.NumComments}}
			</a>
		</span>
	</td>-->
{{end}}

{{ define "VoteOnPollHandler" }}
	{{- $article := . -}}
	{{- $poll := $article.PollOptionData -}}
	onClick="VoteOnPoll(
		{{- $article.Id }},
		{{- $poll.Options }},
		{{- if $poll.RankedChoiceVoting }}
			{{- "text" }},
		{{- else if $poll.CanSelectMultipleOptions }}
			{{- "checkbox" }},
		{{- else }}
			{{- "radio" }},
		{{- end -}}
		{{- if eq $article.Size 2 }}
			{{- "_self" }}
		{{- else }}
			{{- "_blank" }}
		{{- end }}
	)"
{{ end }}


{{ define "PollTallyResults" }}
	<!--<tr><td><i>Results:</i></td></tr>-->
	{{- $article := . -}}
	{{- $poll := $article.PollOptionData -}}
	{{- $pollTallyResults := $article.PollTallyResults -}}
	{{/*- $vote := $article.VoteData -*/}}
	{{- $maxOptions := 0 }}
	{{- if eq $article.Size 1 }}     {{/*LARGE ARTICLE SIZE*/}}
		{{- $maxOptions = 12 }}
	{{- else if eq $article.Size 0 }}{{/*NORMAL ARTICLE SIZE*/}}
		{{- $maxOptions = 12 }}
	{{- else }}                      {{/*FULLPAGE ARTICLE (2) */}}
		{{- $maxOptions = 999999 }}
	{{ end }}

	<!--<ul>
		<li> len $poll.Options = {{ len $poll.Options }}
		<li> len $article.PollTallyResults = {{ len $article.PollTallyResults }}
		<li> $poll.Options = {{ $poll.Options }}
		<li> $pollTallyResults = {{ $pollTallyResults }}
	</ul>-->
	{{ range $o, $option := $poll.Options }}
		{{ if lt $o $maxOptions }}
			{{ $percentage := printf "%.0f%%" (index $pollTallyResults $o).Percentage }}
			<tr>
				{{ if or (lt $article.LongestItem 20) (eq $article.Size 2) }}
					<td style="min-width: 30%; max-width: 50%;
							   word-break: break-word;
							   -ms-word-break: break-all;
							   vertical-align: top;">
						{{/*$option*/}} {{(call $article.Ellipsify $option 42)}}
					</td>
					<td width=10% align=right style="padding-right: 5px;">{{(index $pollTallyResults $o).Count}}</td>
					<td width=30% nowrap>
						<div class="w3-border" style="position:relative">
							<div class="w3-grey" style="height:24px; width:{{$percentage}}"></div>
						</div>
					</td>
					<td width=5% style="padding-left: 5px; padding-right: 5px;">{{$percentage}}</td>
					<td width=5%>{{ if (index $article.VoteData $o) }}<img width=24 height=24 src="/static/reddit checkbox.png">{{ end }}</td>
				{{ else }} {{/* If there's a long item, uses compact layout with fewer columns. */}}
					<td style="width: 90%;
							   word-break: break-word;
							   -ms-word-break: break-all;
							   vertical-align: top;">
						{{/*$option*/}} {{(call $article.Ellipsify $option 42)}}
					</td>
					<td width=5% style="padding-left: 5px; padding-right: 5px;">{{$percentage}}</td>
					<td width=5%>{{ if (index $article.VoteData $o) }}<img width=24 height=24 src="/static/reddit checkbox.png">{{ end }}</td>
				{{ end }}
			</tr>
		{{ else if eq $o $maxOptions }}
			<tr><td colspan=5>
				<table width=100%>
					<tr>
						<td align=left>
							<a href="/viewPollResults/?postId={{ $article.Id }}" style="font-size: 18px; color: #0072ff; margin-left: 0px;">
								More...
							</a>
						</td>
						<td align=right>
							<label class="vote">
								<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="color: #0072ff; font-size: 18px;">
									Change your vote?
								</a>
							</label>
						</td>
				</table>
			</td></tr>
		{{ end }}
	{{ end }}
	{{ if le (len $poll.Options) $maxOptions }}
		<tr><td colspan=5>
			<table width=100%>
				<tr>
					<td align=right>
						<label class="vote">
							<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="color: #0072ff; font-size: 18px;">
								Change your vote?
							</a>
						</label>
					</td>
				</tr>
			</table>
		</tr>
	{{ end }}
{{ end }}

{{ define "PollTallyResultsInline" }}
	<table width=100% style="margin-left: 0px;">
		<tr></tr>
		{{ template "PollTallyResults" . }}
	</table>
{{ end }}


{{ define "PollInlineForm" }}
	{{- $article := . -}}

	{{- $maxOptions := 0 }}
	{{- if eq $article.Size 1 }} {{/*LARGE ARTICLE SIZE*/}}
		{{- $maxOptions = 12 }}
	{{- else }}
		{{- $maxOptions = 12 }}   {{/*SMALL ARTICLE SIZE*/}}
	{{ end }}

	{{- if $article.IsPoll -}}
		{{ if $article.WeVoted }}
			{{ template "PollTallyResultsInline" $article }}
		{{ else }}
			{{/*$article.Id*/}}
			{{- $poll := $article.PollOptionData }}
			{{ if $poll.RankedChoiceVoting }}
				<div>
					<div style="width: 100%; padding-left: 5px;">
						<i>Ranked Vote: 1 = 1st choice, 2 = 2nd choice, etc.</i>
					</div>
				</div>
			{{ end }}
			<div valign="top">
				<div style="width: 100%;">
					<div width="100%">
						<div>
							<div align="left">
								{{ range $o, $option := $poll.Options }}
									{{ if lt $o $maxOptions }}
										{{ if $poll.RankedChoiceVoting }}
											<label class="vote2">
												<input id="vote_{{$article.Id}}_{{$o}}" type="digit" class="rankedVote" value="" size="1" maxlength="1">
												{{$option}}
											</label>
										{{ else if $poll.CanSelectMultipleOptions }}
											<label class="vote2">
												<input id="vote_{{$article.Id}}_{{$o}}" type="checkbox" class="vote" value="{{$o}}">
												{{$option}}
											</label>
										{{ else }}
											<label class="radio-inline vote" style="cursor: pointer">
												<input class="vote2" id="vote_{{$article.Id}}_{{$o}}" type="radio"
													   name="vote_{{$article.Id}}" {{ if eq $o -1 }} checked {{ end }}>
												{{$option}}
											</label>
										{{ end }}
										<br>
									{{ else if eq $o $maxOptions }}
										<label class="vote">
											<a href="/article/?postId={{$article.Id}}&changeVote=true#vote" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
												More options...
											</a>
										</label>
										<br>
									{{ end }}
								{{ end }}

								{{ if and $poll.AnyoneCanAddOptions (le (len $poll.Options) $maxOptions) }}
									<label class="vote">
										<a href="/article/?postId={{$article.Id}}&addOption=1#vote_NewOption0" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
											Add option...
										</a>
										<br>
									</label>
								{{ end }}

								<div style="padding-left: 5px;">
									<button type="submit" class="btn btn-vote btn-sm" style="margin: .5rem 0;" {{template "VoteOnPollHandler" $article}}>Vote!</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{ end }}
	{{ end }}
{{ end }}

{{ define "PollForm" }}
	{{- $article := . -}}
	{{- if $article.IsPoll -}}
		{{- $poll := $article.PollOptionData }}
		<a id="vote" href="#"> <!-- Anchor so user sees the poll. -->
		<tr valign="top">
			<td class="title" style="padding-left: 5px;">
				<table width="100%">
					{{ if $poll.RankedChoiceVoting }}
						<tr><td align="left">
							<span class="rankedVoteIntro">
								Ranked Vote: 1 = 1st choice, 2 = 2nd choice, etc.
							</span>
							<br>
						</td></tr>
					{{ end }}
					<tr><td align="left">
						{{ range $o, $option := $poll.Options }}
							{{ if $poll.RankedChoiceVoting }}
								<div>
									<label>
										<input id="vote_{{$article.Id}}_{{$o}}" type="digit" value="" size="1"
											   maxlength="1" style="width: 25px; padding: 5px; margin: 4px 4px 4px 0;">
										{{$option}}
									</label>
								</div>
							{{ else if $poll.CanSelectMultipleOptions }}
								<div>
									<label class="vote">
										<input id="vote_{{$article.Id}}_{{$o}}" type="checkbox" class="vote"
										   	   value="{{$o}}" style="margin: 6px;">
										{{$option}}
									</label>
								</div>
							{{ else }}
								<div>
									<label class="vote" style="margin-bottom: 0">
										<input id="vote_{{$article.Id}}_{{$o}}" type="radio" class="vote"
											   name="vote_{{$article.Id}}" {{ if eq $o -1 }} checked {{ end }}
											   style="margin: 8px;">
										{{$option}}
									</label>
								</div>
							{{ end }}
						{{ end }}

						{{ if $poll.AnyoneCanAddOptions }}
							<div id="addOptionLink">
								<label class="vote" style="margin: 0px;">
									<a href="javascript:addOption({{$article.Id}})" style="font-size: 18px; color: #0072ff; margin-left: 8px;">
										Add option...
									</a>
									<br>
								</label>
							</div>
						{{ end }}

						{{- $poll := $article.PollOptionData }}

						<input name="vote_{{ $article.Id }}_len" type=hidden value="{{ len $poll.Options }}">

						<button type="submit" class="btn btn-vote" style="margin: 1rem 0;" {{template "VoteOnPollHandler" $article}}>Vote!</button>
					</td></tr>
				</table>
			</td>
		</tr>
		<tr class="spacer" style="height:10px"></tr>
	{{ end }}
{{ end }}

{{ define "BackToCategory" }}
	<table width="100%"><tr>
		<td align="left" style="width: 10%">
			<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
				<a href="/news/?category={{.}}" style="color: #003980; font-size: 20px;">
					<i class="fa fa-caret-left" style="font-size:36px; vertical-align:middle;"></i>
					{{ . }}
				</a>
			</span>
		</td>
		<td align="right" style="width: 10%">
			<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
				<a href="/news" style="color: #003980; font-size:28px; vertical-align:middle;">
				  <h5 style="color: #003980; margin: 5px;">
					<i class="fa fa-times" aria-hidden="true" style="font-size:36px; vertical-align:middle;"></i>
				  </h5>
				</a>
			</span>
		</td>
	</table>
{{ end }}


{{ define "UserTag" }}
	{{ $article := . }}
	<a href="/history/?username={{$article.Author}}" class="userTag">
		<span><img src="{{$article.AuthorIconUrl}}" width=16 height=16></span>
		<span style="color: #88f">{{$article.Author}}</span></a>
{{ end }}

{{ define "UserTagL" }}
	{{ $article := . }}
	<a href="/history/?username={{$article.Author}}" class="userTag">
		<span><img src="{{$article.AuthorIconUrl}}" width=24 height=24></span>
		<span style="color: #88f; font-size: 18px;">{{$article.Author}}</span></a>
{{ end }}


{{ define "CommentUserTag" }}
	{{ $comment := . }}
	<a href="/history?username={{$comment.Username}}" class="userTag">
		<span><img src="/static/dino-head-24x24.png" width=16 height=16></span>
		<span style="color: #88f;">{{$comment.Username}}</span></a>
{{ end }}

{{ define "UserTagMainMenu" }}
	<a href="/history">
		<span class="desktop_only">
			<img src="/static/dino-head-48x48.png" width=24 height=24>
		</span>
		{{.}}</a>
{{ end }}

{{ define "UserTagMainMenuSel" }}
	<a href="/history">
		<span class="desktop_only">
			<img src="/static/dino-head-48x48.png" width=24 height=24>
		</span>
		<span style="color: #0072ff;">
			{{.}}
		<span>
	</a>
{{ end }}

{{ define "UserTagHistory" }}
	{{.}}
{{ end }}
