{{define "content"}}

	<script>
		window.fbAsyncInit = function() {
			FB.init({
			  appId            : '759729064806025',
			  autoLogAppEvents : true,
			  xfbml            : true,
			  version          : 'v8.0'
			});
	/*
			FB.ui({
				method: 'share',
				href: 'https://developers.facebook.com/docs/'
			}, function(response){});
	*/
			FB.login(function(response) {
				if (response.authResponse) {
					console.log('Welcome!  Fetching your information.... ');
					FB.api('/me', function(response) {
					console.log('Good to see you, ' + response.name + '.');
					});
				} else {
					console.log('User cancelled login or did not fully authorize.');
				}
			});
		};
	</script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

{{end}}