{{define "content"}}
	{{ template "formHeader" "Log In to" }}
	{{ template "beginForm" .Form }}
		{{ $f := .Form.FieldMap }}
		{{ template "field" $f.emailOrUsername -}}

		{{ if $f.password }}
			{{ template "toggleablePassword" $f.password }}
		{{ end }}

		<p>
		<div>
			<button type="submit" class="nuBtn btn btn-vote center full">
				Log In
			</button>
		</div>
		<br>
	{{ template "endForm" }}

	<div class="nuFooter" style="font-size: 17px;">
		Want to create an sign up?
		<a href="/register" class="storylink" rel="nofollow" style="color:blue;">SIGN UP</a>
	</div>

<!--	TODO: add 'Forgot Password?' here.
	<div class="nuFooter">
		New to Votezilla?
		<a href="/register" style="color:#0072ff">SIGN UP</a>
	</div>
-->
	<br>

	{{ if $f.password }}
		{{ template "toggleablePasswordScript" }}
	{{ end }}
{{end}}



<!--
<p class="nuFieldSubtext">
	<a href="javascript:onClick_OpenModalLink('forgotAccountTarget')" style="color:#0072ff">
		Forgot Account?
		<a id="forgotAccountTarget" data-target="#myModal" data-toggle="modal" data-path="forgotAccount" data-title="Forgot Account"></a>
	</a>
</p>
-->