{{define "body"}}
<center>
	<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
		<tr><td bgcolor="#ff6600">
			<a href="news"><h1 style="text-align:center; margin: 0px;"><b>votezilla</b></h1></a>
		</td></tr>
		<tr><td bgcolor="#ff6600">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
				<tr>
					<td style="width:18px;padding-right:4px"><a href="http://www.ycombinator.com"><img src="/static/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
					<td style="line-height:12pt; height:10px;">
						<span class="pagetop">
							<b class="hnname"><a href="news">votezilla</a></b>
							<span class="topsel"><a href="news">news</a></span> |
							<a href="submit">submit</a>
						</span>
					</td>
					<td style="text-align:right;padding-right:4px;"><span class="pagetop">
						{{- if .Username }}
							<a href="/user?id={{.Username}}">{{.Username}}</a> | <a href="/logout">logout</a>
						{{else}}
							<a href="/login">login</a> / <a href="/register">register</a>
						{{end -}}
						</span>
					</td>
				</tr>
			</table>
		</td></tr>
<style>
.vz-bar .vz-bar-item			{padding:2px 2px;float:left;width:auto;border:none;outline:none;display:block}
.vz-bar .vz-button				{white-space:normal}

.vz-bar .vz-button:hover		{color:#fff; background-color:#e87f19}

.vz-bar .vz-dropdown-hover		{position:static;float:left}
.vz-bar-block .vz-bar-item		{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}

.vz-bar-block .vz-dropdown-hover .vz-button		{width:100%;text-align:left;padding:2px 2px}

.vz-bar-block .vz-dropdown-hover .vz-dropdown-content		{min-width:100%}
.vz-bar-block .vz-dropdown-hover		{width:100%}
.vz-bar-block.vz-center .vz-bar-item		{text-align:center}.vz-block		{display:block;width:100%}
.vz-bar					{width:100%;overflow:hidden}.vz-center .vz-bar		{display:inline-block;width:auto}
.vz-btn,.vz-button		{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.vz-btn,.vz-button		{border:none;display:inline-block;outline:0;padding:2px 2px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.vz-card-4				{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.vz-cell-row:before,.vz-cell-row:after,.vz-clear:after,.vz-clear:before,.vz-bar:before,.vz-bar:after		{content:"";display:table;clear:both}
.vz-disabled,.vz-btn:disabled,.vz-button:disabled		{cursor:not-allowed;opacity:0.3}.vz-disabled *,:disabled *		{pointer-events:none}
.vz-dropdown-hover		{position:relative;display:inline-block;cursor:pointer}
.vz-dropdown-content		{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:110px;margin:0;padding:0}
.vz-dropdown-hover.vz-mobile .vz-dropdown-content		{position:relative}
.vz-dropdown-hover.vz-mobile,.vz-dropdown-hover.vz-mobile .vz-btn,.vz-dropdown-hover.vz-mobile .vz-button		{width:100%}}
.vz-dropdown-hover:first-child		{background-color:#ccc;color:#000}
.vz-dropdown-hover:hover .vz-dropdown-content		{display:block;z-index:1}
.vz-bar-item.vz-mobile,.vz-dropdown-hover.vz-mobile		{text-align:center}
</style>
		<tr><td bgcolor="#ff6600">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
				<tr>
					<td style="width:18px;padding-right:4px"><a href="http://www.ycombinator.com"><img src="/static/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>

					<td style="line-height:12pt; height:10px;">
						<span class="pagetop">
							<div class="vz-bar">
<!--
								<span class="pagetop">
									<b class="hnname"><a href="news">votezilla</a></b>
									<span class="topsel"><a href="news">news</a></span> |
									<a href="submit">submit</a>
								</span>
-->

								<!--<a href="#" class="vz-bar-item vz-button">votezilla</a>-->
								<!--<b class="vz-bar-item vz-button hnname"><a href="news">votezilla</a></b>-->
								<b class="vz-bar-item hnname"><a href="news">votezilla</a></b>

								<!--
								<a href="#" class="vz-bar-item vz-button">news</a>
								<a href="#" class="vz-bar-item">|</a>
								-->
								<span class="topsel vz-bar-item vz-button"><a href="news">news</a></span>
								<span class="vz-bar-item"> | </span>

								<span class="vz-bar-item vz-button"><a href="news">other shit</a></span>
								<span class="vz-bar-item"> | </span>

								<div class="vz-dropdown-hover">
								  <button class="vz-button">submit</button>
								  <div class="vz-dropdown-content vz-bar-block vz-card-4">
									<a href="#" class="vz-bar-item vz-button">submit link</a>
									<a href="#" class="vz-bar-item vz-button">submit text post</a>
									<a href="#" class="vz-bar-item vz-button">submit poll</a>
								  </div>
								</div>
							</div>
						</span>
					</td>

					<td style="text-align:right;padding-right:4px;"><span class="pagetop">
						{{- if .Username }}
							<a href="/user?id={{.Username}}">{{.Username}}</a> | <a href="/logout">logout</a>
						{{else}}
							<a href="/login">login</a> / <a href="/register">register</a>
						{{end -}}
						</span>
					</td>
				</tr>
			</table>
		</td></tr>

		<tr><td bgcolor="#ff6600">
			<!--<td bgcolor="#000">-->
			<!--<img src="/static/votezilla header small.png">-->
			<!-- style="color:#fff!important" -->

			<!-- Good -->
			<!-- <a href="news"><h1><center><b>votezilla</b></center></h1></a> -->
			<a href="news"><h1 style="text-align:center; margin: 0px;"><b>votezilla</b></h1></a>
		</td></tr>
		<tr><td bgcolor="#ff6600">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
				<tr>
					<td style="width:18px;padding-right:4px"><a href="http://www.ycombinator.com"><img src="/static/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
					<td style="line-height:12pt; height:10px;">
						<span class="pagetop">
							<b class="hnname"><a href="news">votezilla</a></b>
							<span class="topsel"><a href="news">news</a></span> |
							<!--<a href="submit">submit</a>-->
							<div class="vz-dropdown-hover">
							  <button class="vz-button">submit</button>
							  <div class="vz-dropdown-content vz-bar-block vz-card-4">
								<a href="#" class="vz-bar-item vz-button">submit link</a>
								<a href="#" class="vz-bar-item vz-button">submit text post</a>
								<a href="#" class="vz-bar-item vz-button">submit poll</a>
							  </div>
							</div>
						</span>
					</td>
					<td style="text-align:right;padding-right:4px;"><span class="pagetop">
						{{- if .Username }}
							<a href="/user?id={{.Username}}">{{.Username}}</a> | <a href="/logout">logout</a>
						{{else}}
							<a href="/login">login</a> / <a href="/register">register</a>
						{{end -}}
						</span>
					</td>
				</tr>
			</table>
		</td></tr>

		<tr style="height:10px"></tr>
		<tr><td>
			<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
			{{- range $i, $article := .Articles}}
				<tr class='athing' id='14569339'>
					<td rowspan="3"><a href="{{$article.Url}}" class="storylink" rel="nofollow"><img src="{{$article.UrlToImage}}" height="50" width="50"></a></td>
					<td align="right" valign="top" class="title"><span class="rank">{{$article.Index}}.</span></td>
					<td valign="top" class="votelinks">
						<center>
							<a id='up_14569339' href='vote?id=14569339&amp;how=up&amp;goto=newest'>
								<div class='votearrow' title='upvote'></div>
							</a>
						</center>
					</td>
					<td class="title">
						<a href="{{$article.Url}}" class="storylink" rel="nofollow">{{$article.Title}}</a>
						<span class="sitebit comhead"> (<a href="from?site={{$article.Host}}"><span class="sitestr">{{$article.Host}}</span></a>)</span>
						<span class="sitebit comhead"><b>{{$article.Category}}</b></span>
						<span class="sitebit comhead"><b>{{$article.Language}}</b></span>
						<span class="sitebit comhead"><b>{{$article.Country}}</b></span>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td class="subtext">
						<span class="score" id="score_14569339">1 point</span> by <a href="user?id=unitedacademics" class="hnuser">unitedacademics</a> <span class="age"><a href="item?id=14569339">0 minutes ago</a></span> <span id="unv_14569339"></span> | <a href="hide?id=14569339&amp;goto=newest">hide</a> | <a href="https://hn.algolia.com/?query=Open%20Access%20and%20the%20challenge%20of%20monitoring%20policy%20compliance&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Open%20Access%20and%20the%20challenge%20of%20monitoring%20policy%20compliance">web</a> | <a href="item?id=14569339">discuss</a>
					</td>
				</tr>
				<tr class="spacer" style="height:5px"></tr>
			{{- end}}
				<tr class="morespace" style="height:10px"></tr>
				<tr>
					<td colspan="2"></td>
					<td class="title"><a href="newest?next=14569097&amp;n=31" class="morelink" rel="nofollow">More</a></td>
				</tr>
			</table>
		</td></tr>
		<tr><td>
			<img src="/static/s.gif" height="10" width="0">
			<table width="100%" cellspacing="0" cellpadding="1">
				<tr>
					<td bgcolor="#ff6600"></td>
				</tr>
			</table>
			<br>
			<center>
				<span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
				| <a href="newsfaq.html">FAQ</a>
				| <a href="mailto:hn@ycombinator.com">Support</a>
				| <a href="https://github.com/HackerNews/API">API</a>
				| <a href="security.html">Security</a>
				| <a href="lists">Lists</a>
				| <a href="bookmarklet.html">Bookmarklet</a>
				| <a href="dmca.html">DMCA</a>
				| <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
				| <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
				<form method="get" action="//hn.algolia.com/">Search:
					<input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
				</form>
			</center>
		</td></tr>
	</table>
</center>
<script type='text/javascript' src='/static/hn.js?t7bmj4qFsjfrTe8ELyRy'></script>
{{end}}