{{/* TODO: to free up vertical real estate, try concatting articlesrc, time, vote count, num comments, ... onto the top line, all together.
           But wait, does this work on mobile?  Have to get another phone to find out.. :?  */}}
{{define "content"}}
	{{- if eq $.FrameArgs.UrlPath "history"}}
		<br>

		<center>
			<table style="border: black 1px solid; border-spacing: 20px; border-collapse: separate;">
				<tr>
					<td><img src="/static/mozilla%20dinosaur%20head.png" width=256></td>
					<td>
						<h5 class="desktop_only">
							{{if .ViewUsername}}
								<b>PROFILE:</b> Check out what {{.ViewUsername}} has been up to.
							{{else}}
								<b>HISTORY:</b> Find all the polls and articles you've created, voted on, or commented on.
							{{end}}
						</h5>
					</td>
				</tr>
				<tr>
					<td style="font-size: 24px; text-align: center;">
						{{if .ViewUsername}}
							{{template "UserTagHistory" .ViewUsername }}
						{{else}}
							{{template "UserTagHistory" .Username }}
						{{end}}
					</td>
					<td></td>
				</tr>
			</table>
		</center>
		<br>
	{{- else if eq $.FrameArgs.UrlPath "news"}}
		<br>
		<center>
			<h5>
				<b>Welcome to Votezilla:</b> a censorship-free social network based on creating polls, voting, sharing news, and fostering positive political discussion.  <span id="desktop_only"> (Or nerd out on other topics you love.)</span>
			</h5>
		</center>
		<br>
	{{- end }}

	{{ range $aaa, $articleGroup := .ArticleGroups }} {{/*Article Category*/}}
		<div style="height: 4px"></div>
		{{ if ne $articleGroup.Category "" }}
			{{ if $.Category }} {{/* For a specified category, add back and close arrows */}}
				<div class="row vz-row" style="color: #333; background-color: {{$articleGroup.HeaderColor}}; padding: 0px; margin: 0px; margin-top: 4px;">
					<div class="col-md-12 vz-col-md-12b text-uppercase" style="color: #fff; margin: 5px; text-shadow: 1px 1px 0px black; font-size: 28px;">
						<table width="100%"><tr>
							<td align="left" style="width: 25%">
								<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
									<a href="/news" style="color: #003980; font-size: 20px;">
									  <h5 style="color: #fff; margin: 5px; text-shadow: 1px 1px 0px black; font-size: 18px;">
										<i class="fa fa-caret-left" style="font-size:36px; vertical-align:middle;"></i>
										HOME
									  </h5>
									</a>
								</span>
							</td>
							<td align="center" style="width: auto;">
								<center>
									<h5 style="color: #fff; margin: 5px; text-shadow: 1px 1px 0px black; font-size: 32px;">
										<strong>
												{{$articleGroup.Category}}
										</strong>
									</h5>
								</center>
							</td>
							<td align="right" style="width: 15%">
								<span class="pagetop" style="font-size: 20px; margin-top: 1rem; margin-bottom: 1rem;">
									<a href="/news" style="color: #003980; font-size:28px; vertical-align:middle;">
									  <h5 style="color: #fff; margin: 5px; text-shadow: 1px 1px 0px black; font-size: 18px;">
									    <i class="fa fa-times" aria-hidden="true" style="font-size:36px; vertical-align:middle;"></i>
									  </h5>
									</a>
								</span>
							</td>
						</tr></table>
					</div>
				</div>
			{{ else }} {{/* for HOME, just the category */}}
				{{ if $articleGroup.More }}
				  <a class="cat" href="/news/?category={{$articleGroup.Category}}" data-toggle="tooltip" title="More {{$articleGroup.Category}} articles!">
				{{ end }}
					<div class="row vz-row" style="color: #333; background-color: {{$articleGroup.HeaderColor}}; padding: 0px; margin: 0px; margin-top: 4px; padding-top: 7px; padding-bottom: 7px;">
						<div class="col-md-12 vz-col-md-12 text-uppercase">
							<center>
								<h5 style="color: #fff; margin: 5px; text-shadow: 1px 1px 0px black; font-size: 32px; font-weight: bold">
									{{if ne $.FrameArgs.UrlPath "history"}}
										<i class="fa fa-caret-right" style="font-size:36px;"></i><u>
									{{end}}
										{{$articleGroup.Category}}
									{{if ne $.FrameArgs.UrlPath "history"}}
										</u><i class="fa fa-caret-left" style="font-size:36px;"></i>
									{{end}}
								</h5>
							</center>
						</div>
					</div>
				{{ if $articleGroup.More }}
				  </a>
				{{ end }}
			{{ end }}
		{{ end }}
		<div style="height: 4px"></div>

		<div class="row vz-row" style="background-color: white">
			{{ range $i, $articleCol := $articleGroup.Articles }}
				<div class="col-md-6 vz-col-md-6
				{{ if eq $articleGroup.HeadlineSide 0 }}
					{{ if eq $i 0 }}
						vz-col-md-6-left
					{{ else }}
						vz-col-md-6-right
					{{ end }}
				{{ else }}
					{{ if eq $i 0 }}
						vz-col-md-6-right push-md-6
					{{ else }}
						vz-col-md-6-left pull-md-6
					{{ end }}
				{{ end }}
				">
				{{ range $j, $article := $articleCol }}
					{{ if ne $article.Size -1 }} {{/*-1 = skip the article*/}}
						{{ if and (eq $article.Size 1) (not $article.IsPoll) }} {{/*LARGE ARTICLE SIZE... alt logic: and (eq $article.Size 1) (not $article.IsPoll)*/}}

							<a href="/article/?postId={{$article.Id}}" class="pollImageLabel" style="cursor:pointer">
								<img src="{{$article.UrlToImage}}" width="100%" style="max-height: 600px;" data-toggle="tooltip" data-placement="top" title="View the discussion">

							{{ if $article.IsPoll }}
								<center><b><span style="font-size:28px;">
									{{if $article.WeVoted}}&#x2611; RESULTS{{else}}<span style="color:blue">&#x25a2; POLL</span>{{end}}
								</span></b></center>
							{{ end }}
							</a>
							<table border="0" cellpadding="0" cellspacing="0" class="subtext" style="width: 100%;">
								<tr>
									<td align="left" style="width: 35%; padding-left:5px;">
										{{ template "UserTag" $article }}
										&middot;
										<span class="age" align="right">{{$article.TimeSince}}</span>
									</td>
								</tr>

								<tr valign="top">
									<td class="title" style="padding-left: 5px;">
										<span class="articleTitle">
											<a href="{{$article.Url}}" target="_blank"
											   style="font-size: 22px;"
											   data-toggle="tooltip" data-placement="top" title="Read the article">
												{{$article.Title}}
												{{ if not $article.Host }}
													<i class="fas fa-external-link-alt" style="font-size: 14px; vertical-align: middle;"></i>
												{{ end }}
											</a>
										</span>
										{{if $article.Host}}
											<br>
											<span>
												<a href="{{$article.Url}}" target="_blank" style="color: #0079d3;">
													{{$article.Host}}
													<i class="fas fa-external-link-alt" style="font-size: 10px; vertical-align: middle;"></i>
												</a>
											</span>
										{{end}}
									</td>
								</tr>

								{{- if $article.IsPoll }}
									<tr><td class="spacer" style="height:5px"></td></tr>
								{{- end }}

								<tr><td style="padding-left: 10px;">
									{{ template "PollInlineForm" $article }}
								</td></tr>

								<tr>
									<td class="subtext" style="width: 100%; font-size: 20px;">
										<table width="100%"><tr>
											{{ template "PostVoteWidget" $article }}
											<!--<td align="center" style="width: auto;">
												<a href="#">...</a>
											</td>-->
											{{ template "CommentWidget" $article }}
										</tr></table>
									</td>
								</tr>

								<tr class="spacer" style="height:5px"></tr>
							</table>

						{{ else }}                  {{/*NORMAL ARTICLE SIZE*/}}

							<table border="0" cellpadding="0" cellspacing="0">
								<tr valign="top">
								{{- if not $article.IsPoll -}}
								   <a href="/article/?postId={{$article.Id}}">
								{{- end -}}
									<td
									  rowspan="2"
									{{- if not (or $article.IsPoll $article.IsThumbnail) }}
									  style="background-image:url({{$article.UrlToThumbnail}}); background-size:100% 96%; background-repeat: no-repeat; position: relative; top: 0px;"
									{{- end }}
									  data-toggle="tooltip" data-placement="top" title="Join the discussion!">
										<a href="/article/?postId={{$article.Id}}" class="pollImageLabel" style="cursor:pointer; height: 100%;">
											<img
												src="{{$article.UrlToThumbnail}}"
											  {{- if $article.IsPoll }}
												width="80"
											  {{- else if $article.IsThumbnail }}
												width="160"
											  {{- else }}
												width="160"
												style="visibility: hidden;"
											  {{- end -}}
											><!--height="100"-->
										{{ if $article.IsPoll }}
											<center><b><span style="font-size:18px;">
												{{if $article.WeVoted}}&#x2611; RESULTS{{else}}<span style="color:blue">&#x25a2; POLL</span>{{end}}
											</span></b></center>
										{{ end }}
										</a>
									</td>
								{{- if not $article.IsPoll -}}
								  </a>
								{{- end -}}
									<td style="min-width: 5px;"></td>
									<td class="title">
										<div class="subtext">
											{{ template "UserTag" $article }}
											&middot;
											<span class="age" align="right">{{$article.TimeSince}}</span>
										</div>

										<div>
											<span>
												<div class="articleTitle"
													style="
													font-size:20px;
												  {{if or $article.IsPoll $article.IsThumbnail}}
													min-height: 32px;
												  {{else}}
													min-height: 54px;
												  {{end}}
													max-height: 92px;
													overflow: hidden;
													padding-right: 4px;
													">
													<a href="{{$article.Url}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Read the article">
														{{$article.Title}}
														{{ if not $article.Host }}
															<i class="fas fa-external-link-alt" style="font-size: 12px; vertical-align: middle;"></i>
														{{ end }}
													</a>
												</div>
											</span>

											{{if $article.Host}}
												<span>
													<a href="{{$article.Url}}" target="_blank" style="color: #0079d3;">
														{{$article.Host}}
														<i class="fas fa-external-link-alt" style="font-size: 10px; vertical-align: middle;"></i>
													</a>
												</span>
											{{end}}

											{{ template "PollInlineForm" $article }}
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td class="subtext" style="width: 100%; font-size: 20px;">
										<table width="100%"><tr>
											{{ template "PostVoteWidget" $article }}
											<!--<td align="center" style="width: auto;">
												<a href="#">...</a>
											</td>-->
											{{ template "CommentWidget" $article }}
										</tr></table>
									</td>
								</tr>
								<tr class="spacer" style="height:5px"></tr>
							</table>
						{{ end }} {{/*article size*/}}
					{{ end }} {{/*{{ if ne $article.Size -1 }}*/}}
				{{ end }} {{/*range $j, $article := $articleRow*/}}
				</div> {{/*col-md-6*/}}
			{{end}} {{/*range $i, $articleRow := $articleGroup.Articles*/}}
			{{ if ne $articleGroup.More "" }}
				<!-- Needed for align right.  Does not play nicely with bootstrap divs.  So a table works for now. -->
				<table border="0" cellpadding="0" cellspacing="0" class="subtext" style="width: 100%">
					<tr>
						<td align="left">
							{{ $isPoll := eq $articleGroup.Category "polls" }}
							<a
								{{ if $isPoll }}
									href="/createPoll?category={{$articleGroup.Category}}"
								{{ else }}
									href="/createLink?category={{$articleGroup.Category}}"
								{{ end }}
							   style="font-size: 20px; color: #0072ff; padding: 8px;">
								<i class='fas fa-plus-circle' style='font-size:24px; vertical-align:middle;'></i>
								{{ if $isPoll }}
									create poll...
								{{ else }}
									create post...
								{{ end }}
							</a>
						</td>
						<td align="right">
							<a href="/news/?category={{$articleGroup.More}}"
							   style="font-size: 20px; color: #0072ff; padding: 8px;"
							   data-toggle="tooltip" title="More {{$articleGroup.Category}} articles!">
								<i class='fas fa-plus-circle' style='font-size:24px; vertical-align:middle;'></i>
								more {{$articleGroup.Category}}...
							</a>
						</td>
					</tr>
				</table>
			{{ end }}
		</div> {{/*row*/}}
	{{end}} {{/*range $_, $articleGroup := .ArticleGroups*/}}

{{end}}