<!-- PRIVATE METHODS: -->
{{define "beginForm"}}<div><form method="POST">{{end}}

{{define "endForm"}}</form></div>{{end}}

{{define "attributes" }}
	{{- range $k, $v := . }}
		{{$k}} = "{{$v}}"
	{{- end -}}
{{end}}

{{define "inputField"}}
	<input type="{{.Type}}" name="{{.Name}}" value="{{.Value}}" placeholder="{{.Placeholder}}" length="{{.Length}}"
		{{- if .Classes }} class="{{.Classes}}"{{ end -}}
		{{- if .Id }} id="{{.Id}}"{{ end }}
		{{- template "attributes" .Attributes }}
	>
{{end}}

{{define "checkboxField"}}
	<div><input type=checkbox name="{{.Name}}" value="true"
		{{- if .Classes }} class="{{.Classes}}"{{ end -}}
		{{- if .Id }} id="{{.Id}}"{{ end -}}
		{{- if .Value}}checked{{ end }}
		{{- template "attributes" .Attributes }}
	>{{.Placeholder}}</div>
{{end}}

{{define "selectField"}}
	{{$value := .Value}}
	<select name="{{.Name}}"
		{{- if .Classes }} class="{{.Classes}}"{{ end -}}
		{{- if .Id }} id="{{.Id}}"{{ end -}}
		{{- if .HasOther }} onchange="onSelect(this)"{{ end -}}
	>
		{{- if .Placeholder}}<option value="-" selected>{{.Placeholder -}}</option>
		{{- else if .StartAtNil}}<option value="-" selected>-</option>
		{{- end}}
		{{- range $i, $kv := .OptionKeyValues }}
			{{ $key := index $kv 0 -}}
			{{ $val := index $kv 1 -}}
			<option value="{{ $key }}" {{if eq $value $key}}selected{{end}} >
				{{- $val -}}
			</option>
		{{- end }}
		{{- template "attributes" .Attributes }}
	</select>
{{end}}

{{define "otherField"}}
	<input type="text" name="{{.Name}}" value="{{.Value}}" placeholder="{{.Placeholder}}" length="{{.Length}}" style="{{.Style}}"
		{{- if .Classes }} class="{{.Classes}}"{{ end -}}
		{{- if .Id }} id="{{.Id}}"{{ end }}
		{{- template "attributes" .Attributes }}
	>
	<script>console.log('otherField: "{{.Name}}"')</script>
{{end}}


<!-- PUBLIC METHODS: -->
{{define "field"}}
	<!--<label class="nuLabel">{{.}} {{.Name}} {{.Type}}</label>-->

	{{- if eq .Type "checkbox" -}}	  {{ template "checkboxField" . }}
	{{- else if eq .Type "select" -}} {{ template "selectField" . }}
	{{- else if eq .Type "other" -}}  {{ template "otherField" . }}
	{{- else -}}				 	  {{ template "inputField" . }}
	{{- end -}}
	{{if .Error}}<label class="error">{{.Error}}</label>{{end -}}
	{{if .Subtext}}<p class="nuFieldSubtext">{{.Subtext}}</p>{{end -}}

{{end}}

{{define "button"}}
	<div>
		<button type="submit" class="nuBtn btn btn-vote center">
			{{ . }}
		</button>
	</div>
{{end}}

{{define "formHeader"}}
	<p>
	<div>
		<h3 class="btn center" style="font-size: 24px; font-family: verdana;">
			<b>
				{{ . }}
				<a href='/news' style="color:#ff009c">
					vote<span style="color:#0072ff">zilla</span>
				</a>
			</b>
		</h3>
	</div>
{{end}}

{{define "toggleablePassword" }}
	<div class="passwordContainer">
		{{ template "field" . -}}
		<i class="far fa-eye" id="togglePassword"></i>
	</div>
{{end}}

{{define "toggleablePasswordScript"}}
	<script>
		const togglePassword = document.querySelector('#togglePassword');
		const password = document.querySelector('input[name$="password"]');

		togglePassword.addEventListener('click', function (e) {
			// toggle the type between 'password' and 'text'.
			const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
			password.setAttribute('type', type);

			// toggle the eye slash icon
			this.classList.toggle('fa-eye-slash');
		});
	</script>
{{end}}
