{{define "content"}}
		{{ template "formHeader" "Voter Info for" }}

		<div style="font-size: 17px">
			Voter info ensures all voices are heard.
		</div>
		<p>
		<div style="font-size: 17px">
			Your data stays private.  All answers are optional.
		</div>
		</p>

	{{ template "beginForm" .Form }}
		{{ $f := .Form.FieldMap }}
		{{/* template "field" $f.name -*/}}
		{{/* template "field" $f.zipCode -*/}}
		{{ template "field" $f.birthYear -}}
		{{/* template "field" $f.country -*/}}
			{{/* template "field" $f.other_country -*/}}
		{{ template "field" $f.gender -}}
			{{ template "field" $f.other_gender -}}
		{{ template "field" $f.party -}}
			{{ template "field" $f.other_party -}}
		{{ template "field" $f.race -}}
			{{ template "field" $f.other_race -}}
		{{/* template "field" $f.maritalStatus -*/}}
			{{/* template "field" $f.other_maritalStatus -*/}}
		{{ template "field" $f.schoolCompleted -}}
			{{ template "field" $f.other_schoolCompleted -}}

		<br><br>

		<div class="btn-group full">
			<div class="center">
				<input type="submit" name="skip_button"   value="Skip" class="btn btn-primary btn-vote" style="width: 150px; font-family: Verdana; background-color: white; color: #0275d8; border-width: thin;">
				<input type="submit" name="submit_button" value="Register" class="btn btn-default btn-vote" style="width: 150px; font-family: Verdana; margin-left: 20px;">
			</div>
		</div>
<!--
		{{template "button" "Register"}}
-->
		<br>
		<br>

	{{ template "endForm" }}
{{end}}

