{{ define "content" }}
	<div class="row vz-row">
		<div class="col-md-9 vz-col-md9-left">

			{{ template "mainContent" . }}

		</div> {{/*col-md-9*/}}
		<div class="col-md-3 vz-col-md-3-right">
<!-- <Sheeple -->
							<div style="
								background-color:white;
								border:solid 0px red;
								border:solid 1px #898888;
								font-family:'Trebuchet MS';
								margin:0 auto;
								margin-top: 0px;
								width:100%;
								max-width:400px;
								">
								<div style="text-align:left; color: #50abe4; margin: 5px;">
									Sponsored
								</div>
								<div style="font-family: 'Trebuchet MS'; font: small/ 1.5 Arial,Helvetica,sans-serif;">
									The best gift ewe can give for the holidays is quality time together. &nbsp;Enjoy it with Sheeple!
									<!--<br><br><i>Enjoy <b>20% off</b>, NOW until Cyber Monday!</i>-->
								</div>
								<a href="http://bit.ly/SheePLe">
										<img src="http://votezilla.news/static/sheeple/X2.jpg" style="width: 100%;" alt="">
								</a>

								<div style="
											background-color:#f1f1f1;
											font-family:'Trebuchet MS';
											margin-top: 0px;
											max-width:270px;
											">

									<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; margin: 10px; display:inline-block; width: 220px; display: table-cell; ">
												  SHEEPLE: Fun Family Party Game for 3-12 Players
									</span>
									<span style="display: table-cell; height: 85px; vertical-align: middle; width: 220px; width: 230px;">
									  <a href="http://bit.ly/SheePLe">
										<span style="
													background-color: rgb(0,81,255);
													background: linear-gradient(0deg, rgb(0,81,255)  0%, rgb(0,255,255) 100%) !important;
													border-radius:10px;
													border: 1px solid #fff !important;
													color:white;
													display:inline-block;
													font-size:18px;
													font-weight:bold;
													padding:10px;
													text-align:center;
													width:150px;
													min-height: 40px;
													vertical-align: middle;
													width: 150px;
													padding: 10px;
													">
											LEARN MORE
										</span>
									  </a>
									</span>
								</div>
							</div>
							<!-- Sheeple> -->
			<span style="font-size: 18px;">
				{{ if .Article.IsPoll }}
					<br><b>COOL POLL FEATURES:</b>
					<br><br>&bull; Demographic breakdown for polls with 5 or more votes!  View real-time analytics broken down by gender, age, race, political affiliation, and more!
					<br><br>&bull; Ranked voting polls for political candidates, giving 3rd party candidates a fair chance.
					<br>
					<hr>
				{{ else }}
					<br>
				{{ end }}

				Remember to be respectful to the community!

				<br><br>Democracy only works if we can have a positive, logical discussion.

				<br><br>Try to look at things from both sides.

				<br><br>No personal attacks, trolling, or name-calling will be tolerated.  All viewpoints are welcome.

				<br><br>
				{{ if .Article.IsPoll }}
					<a href="/news/?category=polls">
						More <b><span style="color: #88f;">polls:</span></b>
					</a>
				{{ else }}
					<a href="/history/?username={{.Article.NewsSourceId}}">
						More from <b><span style="color: #88f;">{{ .Article.NewsSourceId }}:</span></b>
					</a>

				{{ end }}
			</span>

			<br>

			{{ range $_, $article := .MoreArticlesFromThisSource }}
				<br>
				<div>
					<a href="{{$article.Url}}" target="_blank"
					   style="font-size:{{if $article.IsPoll}}20px;{{else}}18px;{{end}}
					   		  word-break: break-word;
					   		  -ms-word-break: break-all;">
						{{$article.Title}}
					</a>
					{{ template "PollInlineForm" $article }}
				</div>

				<table style="width:100%; font-size: 18px;"><tr>
					{{ template "PostVoteWidget" $article }}
					{{ template "CommentWidget" $article }}
				</tr></table>
			{{ end }}

<!--		<p> News sources:
			<p>More news sources
			<p>More articles from this source -->
			<br>
			<br>
		</div> {{/*col-md-3*/}}
	</div> {{/*row*/}}
{{ end }}
