{{ define "content" }}
	<div class="row vz-row">
		<div class="col-md-9 vz-col-md9-left">

			{{ template "mainContent" . }}

		</div> {{/*col-md-9*/}}
		<div class="col-md-3 vz-col-md-3-right">
			<span style="font-size: 18px;">
				<br>Remember to be respectful to the community!

				<br><br>Democracy only works if we can have a positive, logical discussion.

				<br><br>Try to look at things from both sides.

				<br><br>No personal attacks, trolling, or name-calling will be tolerated.  All viewpoints are welcome.

				<br><br>
				{{ if .Article.IsPoll }}
					<a href="/news/?category=polls">
						More <b><span style="color: #88f;">polls:</span></b>
					</a>
				{{ else }}
					<a href="/history/?username={{.Article.NewsSourceId}}">
						More from <b><span style="color: #88f;">{{ .Article.NewsSourceId }}:</span></b>
					</a>

				{{ end }}
			</span>

			<br>

			{{ range $_, $article := .MoreArticlesFromThisSource }}
				<br>
				<div>
					<a href="{{$article.Url}}" target="_blank"
					   style="font-size:{{if $article.IsPoll}}20px;{{else}}18px;{{end}}
					   		  word-break: break-word;
					   		  -ms-word-break: break-all;">
						{{$article.Title}}
					</a>
					{{ template "PollInlineForm" $article }}
				</div>

				<table style="width:100%; font-size: 18px;"><tr>
					{{ template "PostVoteWidget" $article }}
					{{ template "CommentWidget" $article }}
				</tr></table>
			{{ end }}

<!--		<p> News sources:
			<p>More news sources
			<p>More articles from this source -->
			<br>
			<br>
		</div> {{/*col-md-3*/}}
	</div> {{/*row*/}}
{{ end }}
