{{ define "content" }}
	<div class="row vz-row">
		<div class="col-md-9 vz-col-md9-left">

			{{ template "mainContent" . }}

		</div> {{/*col-md-9*/}}
		<div class="col-md-3 vz-col-md-3-right">
			<span style="font-size: 18px;">
				<br>Remember to be respectful to the community!

				<br><br>Democracy only works if we can have a positive, logical discussion.

				<br><br>Try to look at things from both sides.

				<br><br>No personal attacks, trolling, or name-calling will be tolerated.  All viewpoints are welcome.

				{{ if .Article.IsPoll }}
					<br><br>More <b><span style="color: #88f;">polls:</span></b>
				{{ else }}
					<br><br>More from <b><span style="color: #88f;">{{ .Article.NewsSourceId }}:</span></b>
				{{ end }}
			</span>

			<br>

			{{ range $_, $article := .MoreArticlesFromThisSource }}
				<br>

				<!--<div class="subtext">
					<a href="#" target="_blank">
						<span><img src="{{$article.AuthorIconUrl}}" width=16 height=16></span>
						<span style="color: #88f">{{$article.Author}}</span>
					</a>
					&middot;
					<span class="age" align="right">{{$article.TimeSince}}</span>
				</div>-->

				<div>
					<a href="{{$article.Url}}" target="_blank"
					   style="font-size:{{if $article.IsPoll}}20px;{{else}}18px;{{end}}
					   		  word-break: break-word;
					   		  -ms-word-break: break-all;">
						{{$article.Title}}
					</a>
					{{ template "PollInlineForm" $article }}
				</div>

				<table width="100%"><tr>
					{{ template "PostVoteWidget" $article }}
					<td align="center" style="width: auto;">
						<a href="#">...</a>
					</td>
					<td align="right" style="width: 40%;">
						<span style="float: right; vertical-align: text-bottom; padding-right: 5px;">
							<a href="/article/?postId={{$article.Id}}" data-toggle="tooltip" title="Join the discussion!" style="color: #0079d3;"><img src="/static/comment icon 3.jpg" width=16 height=16> {{$article.NumComments}}</a>
						</span>
					</td>
				</tr></table>

			{{ end }}

<!--		<p> News sources:
			<p>More news sources
			<p>More articles from this source -->
			<br>
			<br>
		</div> {{/*col-md-3*/}}
	</div> {{/*row*/}}
{{ end }}
