{{define "body"}}
<h1>Submit Poll</h1>
<br>
<br>
<form name="form" method="POST">
	<table border="0" id=pollOptionsTable>
		{{- ( call .Form.title.HtmlRow ) -}}
		{{- ( call .Form.option1.HtmlRow ) -}}
		{{- ( call .Form.option2.HtmlRow ) -}}
		<tr>
			<td></td>
			<td><a href="javascript:addOption()" style="color:blue">+ Add option...</a></td>
		</tr>
	</table>
	<table>
		{{- ( call .Form.bAnyoneCanAddOptions.HtmlRow ) -}}
		{{- ( call .Form.bCanSelectMultipleOptions.HtmlRow ) -}}
	</table>
	<table>
		<tr></tr>
		{{- ( call .Form.category.HtmlRow ) -}}
		{{- ( call .Form.anonymity.HtmlRow ) -}}
	</table>
	<br>
	<br>
	<input type="submit" value="Submit">
</form>
<script>
	var numOptions = 2;

	function addOption() {
		numOptions++;

		if (numOptions > 1024) // Max number of options allowed
			return;

		$('#pollOptionsTable tr:nth-last-child(2)').after(`
			<tr>
				<td>Poll option `+numOptions+`:</td>
				<td><input type="text" name="link" id="option`+numOptions+`" value="" placeholder="add option..." length=50></input></td>
			</tr>
		`);
	}
</script>
{{end}}

