{{define "body"}}
<h1>Submit Poll</h1>
<br>
<br>
<form name="form" action="/submitPoll/" onsubmit="return validateForm()" method="POST">
	<table border="0" id=pollOptionsTable>
		<tr>
			<td>Ask something...</td>
			<td><input type="text" name="title" value="" placeholder="Ask something..."></input></td>
		</tr>
		<tr>
			<td>Poll option 1:</td>
			<td><input type="text" name="option1" value="" placeholder="add option..." length=50></input></td>
		</tr>
		<tr>
			<td>Poll option 2:</td>
			<td><input type="text" name="option2" value="" placeholder="add option..." length=50></input></td>
		</tr>
		<tr>
			<td>Poll option 3:</td>
			<td><input type="text" name="option3" value="" placeholder="add option..." length=50></input></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="javascript:addOption()" style="color:blue">+ Add option...</a></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>Allow anyone to add options</td>
			<td><input type="checkbox" name="bAnyoneCanAddOptions" value="1" checked></input></td>
		</tr>
		<tr>
			<td>Allow people to choose multiple options</td>
			<td><input type="checkbox" name="bCanSelectMultipleOptions" value="1" checked></input></td>
		</tr>
	</table>
	<table>
		<tr></tr>
		<tr>
			<td id="category">Poll category:</td>
			<td><select name="category">
				<option value="" selected>-</option>
			  {{- range $category := .Categories}}
				<option value="{{$category}}">{{$category}}</option>
			  {{- end}}
			</select></td>
		</tr>
		<tr>
			<td id="alias">Post as:</td>
			<td><select name="anonymity">
			  {{- range $value, $label := .AnonymityLevels}}
				<option value="{{$value}}" {{if eq $value "R"}}selected{{end}}>{{$label}}</option>
			  {{- end}}
			</select></td>
		</tr>
	</table>
	<br>
	<br>
	<input type="submit" value="Submit">
</form>
<script>
	var numOptions = 3;

	function addOption() {
		numOptions++;

		$('#pollOptionsTable tr:nth-last-child(2)').after(`
			<tr>
				<td>Poll option `+numOptions+`:</td>
				<td><input type="text" name="link" id="option`+numOptions+`" value="" placeholder="add option..." length=50></input></td>
			</tr>
		`);
	}

	// Returns the number of errors
	var ERR = 1;
	var OK = 0;

	// Validates a text input is not empty.
	function validateRequired(fieldName) {
		var x = document.forms["form"][fieldName].value;
		if (x == "") {
			$('input[name="'+fieldName+'"]').after('<label class="error">This field is required.</label>')

			return ERR;
		}
		return OK;
	}

	// Validates a select input has something selected.
	function validateSelected(fieldName) {
		var x = document.forms["form"][fieldName].value;
		if (x == "") {
			$('select[name="'+fieldName+'"]').after('<label class="error">This field is required.</label>')

			return ERR;
		}
		return OK;
	}

	function validateForm() {
		$(".error").remove();

		errors = validateRequired("title") +
				 validateRequired("option1") +
				 validateRequired("option2") +
				 validateSelected("category");
		return errors == 0;
	}
</script>
{{end}}

