{{define "body"}}
<h1>Submit Link</h1>
<h2></h2>
<h4></h4>
<br><br>
<form method="post">
	<table border="0">
		<tr>
			<td id="title label">title:</td>
			<td><input type="text" name="title" value=""></input></td>
		</tr>
		<tr>
			<td id="link label">link:</td>
			<td><input type="text" name="link" id="link" value="" oninput="onLinkTextUpdated()"></input></td>
		</tr>
	</table>
	<br>
	<div style="overflow: visible; width: 1000px; height: 1000px;">
	    <div id="image_container"></div>
	</div>
	<br>
	<input type="submit" value="Submit">
</form>

<div id='data'></div>

<script>
var lastUpdateTime;
function onLinkTextUpdated() {
	lastUpdateTime = new Date();
	setTimeout(function() {
		//console.log("1.5 seconds after text updated");
		currentTime = new Date();
		var secondsElapsed = (currentTime - lastUpdateTime) / 1000.0; // Get the difference in time, convert from milliseconds to seconds.
		//console.log("" + secondsElapsed + " seconds elapsed");
		if (secondsElapsed > 1.4) {
			console.log("Link Text Is Updated (>= 1.5 seconds)");
			console.log("Link Url is: " + $("#link").val());

			// AJAX - database state
			$.ajax({
				url: '/ajaxScrapeImageURLs/',
				type: "post",
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify({ Url: $("#link").val() }), // Hmmm <-- should be UserId not Username
				dataType: 'json',
				success: function(r) {
					console.log("AJAX - success r.Images = " + r.Images);

					for ( img in r.Images ) {					
							$('#image_container').append( '<img id="img_'+ img +'" src="' + r.Images[img] + '" width=467 heigh=280 />' );
							$('#image_container').append( '<img id="img_'+ img +'" src="' + r.Images[img] + '" width=125 height=75 />' );
        			}
				},
				error:   function(r) { console.log("AJAX - error"); }
			});
		}
    }, 1500);
}

$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>


{{end}}



