<form method="post">
  <table border="0">
    {{range $i, $field := .Form.Fields}}
      <tr>
        <td>{{$field.GetName}}:</td>
        <td>
          {{$field.Html | safeHTML}}
          {{range $ei, $err := $field.Errors}}
            <label class="error">{{$err}}</label>
          {{end}}
        </td>
      </tr>
    {{end}}
  </table>
  {{if .AdditionalError}}
	<br>
	<label class="error">{{.AdditionalError}}</label>
	<br>
  {{end}}
  <br>
  <input type="submit" value="{{.SubmitText}}">
</form>