<div class="container vz-container">
	<div class="row vz-row">
		<div class="col-md-12 vz-col-md-12">
			{{ $article := .Article }}
			{{ $poll := $article.PollOptionData }}
			{{ $vote := $.VoteData }}
			{{/*
			Poll = {{ $poll }}
			Vote Data = {{ $vote }}
			*/}}

			<table border="0" cellpadding="0" cellspacing="0" class="subtext" style="width: 100%">
				<tr>
					<td align="left" style="width: 35%; padding-left:5px;">
						<a href="#">
							<span><img src="{{$article.AuthorIconUrl}}" width=16 height=16></span>
							<span style="color: #88f">{{$article.Author}}</span>
						</a>
						&middot;
						<span class="age" align="right">{{$article.TimeSince}}</span>
					</td>
				</tr>

				<tr valign="top">
					<td class="title" style="padding-left: 5px;">
						<span>
							<a href="{{$article.Url}}" target="_blank" class="storylink">{{$article.Title}}</a>
						</span>
					</td>
				</tr>

				<tr>
					<td class="subtext" style="width: 100%; padding-left: 5px;">
						<table width="100%"><tr>
							{{ template "PostVoteWidget" $article }}
							<td align="right" style="width: 40%; padding-right: 5px;">
								<a href="#">...</a>
							</td>
						</tr></table>
					</td>
				</tr>

				<tr class="spacer" style="height:15px"></tr>

				<tr>
					<td align="left" style="width: 100%; padding-left:5px;">
						<table width=100%>
							<tr></tr>
							<tr>
								<td colspan=3><h5><b>Results below:</b></h4></td>
							</tr>
							{{ $pollTallyResults := .PollTallyResults }}
							{{ range $o, $option := $poll.Options }}
								{{ $percentage := printf "%.0f%%" (index $pollTallyResults $o).Percentage }}
								<tr>
									<td width=20% nowrap>{{$option}}</td>
									<td width=10% align=right style="padding-right: 5px;">{{(index $pollTallyResults $o).Count}}</td>
									<td width=50% nowrap>
										<div class="w3-border" style="position:relative">
											<div class="w3-grey" style="height:24px; width:{{$percentage}}"></div>
										</div>
									</td>
									<td width=5% style="padding-left: 5px; padding-right: 5px;">{{$percentage}}</td>
									<td width=5%>{{ if index $vote $o }}<img width=24 height=24 src="/static/reddit checkbox.png">{{ end }}</td><!-- TODO: replace licensed art -->
								</tr>
							{{ end }}
						</table>
						<br>
						You voted {{$.UserVoteString}}.  <a href="/article/?postId={{$article.Id}}">Change your vote?</a> <br>
				    </td>
				</tr>
				<tr class="spacer" style="height:5px"></tr>
			</table>
		</div> {{/*col-md-12*/}}
		<div class="col-md-6 vz-col-md-6">
		</div>
	</div> {{/*row*/}}

{{ template "comments" . }}

</div> {{/*container vz-container*/}}
<br>
<br>

