{{define "mainContent"}}

<div class="container vz-container">
	<div class="row vz-row">
		<div class="col-md-12 vz-col-md-12">
			{{ $article := .Article }}
			{{ $poll := $article.PollOptionData }}

			{{ template "BackToCategory" $article.Category }}

			<div class="softBorder">

				<table border="0" cellpadding="0" cellspacing="0" class="subtext" style="width: 100%">
					<tr>
						<td align="left" style="width: 35%; padding-left:5px;">
							{{ template "UserTag" $article }}
							&middot;
							<span class="age" align="right">{{$article.TimeSince}}</span>
						</td>
					</tr>

					<tr valign="top">
						<td class="title" style="padding-left: 5px;">
							{{$article.Title}}
						</td>
					</tr>

					<tr>
						<td class="subtext" style="width: 100%; padding-left: 5px;">
							<table width="100%"><tr>
								{{ template "PostVoteWidget" $article }}
							</tr></table>
						</td>
					</tr>

					<tr class="spacer" style="height:15px"></tr>

					<tr>
						<td align="left" style="width: 100%; padding-left:5px;">
							<table width=100%>
								<tr></tr>
								<tr>
									{{ if $poll.RankedChoiceVoting }}
										<tr><td align="left">
											<span class="rankedVoteIntro">
												<i><b>Ranked Vote:</b> Results:</i>
											</span>
											<br>
										</td></tr>
									{{ else if $poll.CanSelectMultipleOptions }}
										<div>
											<div style="width: 100%; padding-left: 5px;">
												<i><b>Multi-Select Vote:</b> Results:</i>
											</div>
										</div>
									{{ else }}
										<td colspan=3><h5><b>Results below:</b></h4></td>
									{{ end }}
								</tr>
								{{ template "PollTallyResults" $article.PollTallyInfo }}

								{{ if or .ViewDemographics .ViewRankedVoteRunoff }}
									{{ range $i, $pollTallyInfo := .ExtraTallyInfo }}
										<tr><td colspan=3><br></td></tr>
										{{ template "PollTallyResults" $pollTallyInfo }}
									{{ end }}
								{{ end }}
								<tr></td>
							</table>
							<!--
								alt names:
									View Breakdown
									Demographic Breakdown
							-->
							{{ if $poll.RankedChoiceVoting }}
								<div>
									<input type="submit" onclick="location.href='/viewPollResults/?postId={{$article.Id}}&viewRankedVoteRunoff=true';" value="Ranked Vote Runoff" class="btn btn-default btn-green">
								</div>
							{{ end }}
							<br><br>
							{{ if ge $article.PollTallyInfo.TotalVotes 5 }}
								<select name="country" class="btn btn-vote-dropdown" style="font-family: Verdana;"
										onchange="location.href='/viewPollResults/?postId='+{{$article.Id}}+`&viewRankedVoteRunoff=true&splitByDemographic=${this.value}`;">
									<option value="-" selected>Split By Demographic</option>
									{{ range $k, $v := .DemographicLabels }}
										<option value="{{$k}}">{{$v}}</option>
									{{ end }}
								</select>
							{{ else }}
								Demographic breakdown viewable once poll reaches 5 or more votes.  There are currently {{ $article.PollTallyInfo.TotalVotes }}.  Share to get more votes!
							{{ end }}
							<br>
							{{ if .UserVoteString }}
								You voted {{.UserVoteString}}.
							{{ end }}
						</td>
					</tr>
					<tr class="spacer" style="height:5px"></tr>
				</table>
			</div>
		</div> {{/*col-md-12*/}}
		<div class="col-md-6 vz-col-md-6">
		</div>
	</div> {{/*row*/}}

{{ template "comments" . }}

</div> {{/*container vz-container*/}}
<br>
<br>

{{ end }}
